<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.caesar.mapper.caesar.DatasourceAccountRelationMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.caesar.domain.generator.caesar.DatasourceAccountRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_uid" jdbcType="VARCHAR" property="accountUid" />
    <result column="datasource_account_id" jdbcType="INTEGER" property="datasourceAccountId" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="relation_type" jdbcType="INTEGER" property="relationType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>