<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.caesar.mapper.caesar.ServerGroupMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.caesar.domain.generator.caesar.ServerGroup">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="server_group_type_id" jdbcType="INTEGER" property="serverGroupTypeId"/>
        <result column="allow_workorder" jdbcType="BIT" property="allowWorkorder"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryServerGroupByParam"
            parameterType="com.baiyi.caesar.domain.param.server.ServerGroupParam$ServerGroupPageQuery"
            resultMap="BaseResultMap">
        select * from server_group
        <where>
            <if test="name != null and name != ''">
                and name like "%" #{name} "%"
            </if>
            <if test="serverGroupTypeId != null">
                and server_group_type_id = #{serverGroupTypeId}
            </if>
        </where>
        order by replace( name, #{name}, '' ), create_time
    </select>

</mapper>