<div class="modal-header">
    <h3 class="modal-title">dnsmasq信息</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">

        <div class="form-group">
            <label class="col-lg-2 control-label">地址解析参考配置</label>
            <div class="col-lg-10" style="margin-top: 5px;">
                <span class="label" style="background-color: #00a8f3; color: white;">address=/www.example.com/192.168.0.1</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">解析转发参考配置</label>
            <div class="col-lg-10" style="margin-top: 5px;">
                <span class="label" style="background-color: #00a8f3; color: white;">server=/example.com/192.168.0.2</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>配置项</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="配置项" ng-model="dnsItem.dnsItem">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">说明</label>
            <div class="col-lg-10">
                <textarea class="form-control" cols="3" ng-model="dnsItem.content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align:center;">
                <button ng-click="saveItem()"
                        class="btn btn-xs"
                        style="background-color: #2e6da4; color: white;">
                    <span class="glyphicon glyphicon-edit"></span>保存</button>
            </div>
        </div>
    </form>
    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>