HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*/log/
*.log
*.db
.mvn
*.gz
.DS_Store

### Static
static/

### 含隐私
JasyptUtilsTest.java
EncryptorTest.java
opscloud-manage/src/test/java/com/baiyi/opscloud/encryptor/*
application-local.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OSSUtil
.ossutil_checkpoint

