<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->


        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12" ng-controller="ciVersionCtrl">
                    <h4 class="m-n font-thin h3 text-black">Jenkins任务模版管理</h4>
                    <span class="label"
                          style="margin-left: 5px; background-color: #00a8f3; color: white;">Version{{version.literalVersion}}</span>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->

            <div class="panel panel-default" ng-controller="templateCtrl">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">模版名称</span>
                                <input type="text" class="form-control" ng-model="queryName"
                                       placeholder="名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">应用类型</span>
                                <select class="form-control" ng-model="queryAppType"
                                        ng-options="app.code as app.name for app in appType">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">构建类型</span>
                                <select class="form-control" ng-model="queryCiType"
                                        ng-options="ci.code as ci.name for ci in ciType"
                                        required>
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="button" class="btn btn-info" ng-click="doQuery()"><span
                                    class="glyphicon glyphicon-search"></span>搜索
                            </button>
                        </div>

                        <button type="button" class="btn btn-info" ng-click="reSet()"><span
                                class="glyphicon glyphicon-repeat"></span>重置
                        </button>

                        <button type="button" class="btn btn-success" ng-click="addTemplate()"><span
                                class="glyphicon glyphicon-plus"></span>新增
                        </button>
                    </form>

                    <div class="panel panel-default" style="margin-top: 5px;;">
                        <div class="panel-body">
                            <div>
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td class="col-md-3">模版</td>
                                        <td>环境类型</td>
                                        <td>关联任务</td>
                                        <td>操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in pageData">
                                        <td>
                                            <span style="background-color: #286090; color: white;"
                                                  uib-popover-html="item.content"
                                                  popover-trigger="'mouseenter'"
                                                  class="label">{{item.name}}</span>
                                            </br>
                                            <b style="color: #2e6da4">{{item.version}}</b>
                                            <b class="pull-right">版本编号</b>
                                            </br>
                                            <b style="color: #2e6da4">{{item.md5}}</b>
                                            <b class="pull-right">模版HASH</b>
                                            </br>
                                            <b style="color: #5bc0de" ng-if="item.appType == 0">gradle(jar)</b>
                                            <b style="color: #5bc0de" ng-if="item.appType == 1">gradle(war)</b>
                                            <b style="color: #ec971f" ng-if="item.appType == 2">maven(jar)</b>
                                            <b style="color: #ec971f" ng-if="item.appType == 3">maven(war)</b>
                                            <b style="color: #d9534f" ng-if="item.appType == 4">python</b>
                                            <b class="pull-right">应用类型</b>
                                            </br>
                                            <b style="color: #20a03f" ng-if="item.ciType == 0">构建部署拆分</b>
                                            <b style="color: #5bc0de" ng-if="item.ciType == 1">流水线(简单模式)</b>
                                            <b class="pull-right">构建类型</b>
                                            </br>
                                            <b style="color: #20a03f" ng-if="item.rollbackType == 0">按构件包回滚</b>
                                            <b style="color: #5bc0de" ng-if="item.rollbackType == 1">自动Tag回滚</b>
                                            <b class="pull-right">回滚类型</b>
                                        </td>
                                        <td>
                                            <b style="color: #777" ng-if="item.envType == 0">保留</b>
                                            <b style="color: #5bc0de" ng-if="item.envType == 1">dev</b>
                                            <b style="color: #449d44" ng-if="item.envType == 2">daily</b>
                                            <b style="color: #ec971f" ng-if="item.envType == 3">gray</b>
                                            <b style="color: #d9534f" ng-if="item.envType == 4">prod</b>
                                            <b style="color: #5e5e5e" ng-if="item.envType == 5">test</b>
                                            <b style="color: #286090" ng-if="item.envType == 6">back</b>
                                        </td>
                                        <td>
                                            <div class="col-md-12" ng-repeat="job in item.jobList">
                                                 <span style="background-color: #286090; color: white;"
                                                       uib-popover-html="job.content"
                                                       popover-trigger="'mouseenter'"
                                                       class="label">{{job.jobName}}</span>
                                                <span style="background-color: #20a03f; color: white;"
                                                      uib-popover-html="'构建任务'"
                                                      popover-trigger="'mouseenter'"
                                                      class="label">BUILD</span>
                                                <b style="color: #20a03f" ng-show="job.jobTemplateMd5 == item.md5">(HASH一致版本相同)</b>
                                                <b style="color: #ff8700" ng-show="job.jobTemplateMd5 != item.md5">(MD5:{{job.jobTemplateMd5}})</b>
                                                <button ng-click="updateTemplate(job.id,0)"
                                                        ng-show="job.jobTemplateMd5 != item.md5"
                                                        class="btn btn-xs pull-right"
                                                        style="margin-left: 5px; background-color: #ff5f87; color: white;">
                                                    <span class="fa fa-circle-o-notch"></span>更新模版
                                                </button>
                                            </div>

                                            <div class="col-md-12" ng-repeat="deployJob in item.deployJobList">
                                                 <span style="background-color: #286090; color: white;"
                                                       uib-popover-html="deployJob.content"
                                                       popover-trigger="'mouseenter'"
                                                       class="label">{{deployJob.deployJobName}}</span>
                                                <span style="background-color: #20a03f; color: white;"
                                                      uib-popover-html="'部署任务'"
                                                      popover-trigger="'mouseenter'"
                                                      class="label">BUILD</span>
                                                <b style="color: #20a03f" ng-show="deployJob.deployJobTemplateMd5 == item.md5">(HASH一致版本相同)</b>
                                                <b style="color: #ff8700" ng-show="deployJob.deployJobTemplateMd5 != item.md5">(MD5:{{deployJob.deployJobTemplateMd5}})</b>
                                                <button ng-click="updateTemplate(deployJob.id,1)"
                                                        ng-show="deployJob.deployJobTemplateMd5 != item.md5"
                                                        class="btn btn-xs pull-right"
                                                        style="margin-left: 5px; background-color: #8278c2; color: white;">
                                                    <span class="fa fa-circle-o-notch"></span>更新模版
                                                </button>
                                            </div>

                                        </td>
                                        <td>
                                            <button ng-click="editTemplate(item)"
                                                    class="btn btn-xs"
                                                    style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                                <span class="glyphicon glyphicon-edit"></span>编辑
                                            </button>
                                            <button ng-click="delTemplate(item.id)"
                                                    class="btn btn-xs pull-right"
                                                    style="background-color: red; color: white;">
                                                <span class="glyphicon glyphicon-remove"></span>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="9">
                                            <ul style="margin: 0px; float: right;" uib-pagination
                                                total-items="totalItems" ng-model="currentPage"
                                                items-per-page="pageLength" max-size="10"
                                                ng-change="pageChanged()" previous-text="&lsaquo;"
                                                next-text="&rsaquo;"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </uib-tab>


        </div>
    </div>
    <!-- / main -->
</div>


<script type="text/ng-template" id="templateInfoModal">
    <div ng-include="'tpl/modal/ci/ci_template_info_modal.html'"></div>
</script>
