<style>
    .ace_editor {
        height: 500px;
    }
</style>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">JMS用户帮助</h1>
                    <!--<small class="text-muted">可访问堡垒机列表管理</small>-->
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->

            <uib-tabset>
                <div ng-controller="jmsCtrl">
                    <div style="margin-top: 5px;" class="panel">
                        <div class="panel-body">


                            <div class="form-horizontal col-md-4">
                                <!--终端-->
                                <div class="col-md-12">
                                    <uib-accordion close-others="false">
                                        <div uib-accordion-group class="panel-default"
                                             heading="Administrators"
                                             is-open="true" style="box-shadow: 0 0 5px #ddd;padding: 10px;">
                                            <uib-accordion-heading>
                                                <b style="color: #777">终端集群</b>
                                                <span class="label pull-right"
                                                      style="background-color: #ff8700; color: white;">Terminal</span>
                                            </uib-accordion-heading>

                                            <div style="margin-top: 5px;">

                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <td class="col-md-3"><b style="margin-left: 10px; color: #777">名称</b>
                                                        </td>
                                                        <td class="col-md-3"><b style="margin-left: 10px; color: #777">SLB_HOST</b>
                                                        </td>
                                                        <td class="col-md-3"><b style="margin-left: 10px; color: #777">会话</b>
                                                        </td>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr ng-repeat="terminal in jumpserver.terminals"
                                                        style="font-size:1em;">
                                                        <td>
                                                            <b style="margin-left: 5px; color: #286090">{{terminal.name}}</b>
                                                        </td>
                                                        <td>{{jumpserver.hostname}}</td>
                                                        <td>{{terminal.session}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </uib-accordion>
                                </div>

                            </div>

                            <!--使用简介-->

                            <form class="form-horizontal col-md-8" style="box-shadow: 0 0 5px #ddd;padding: 10px;">
                                <div ng-show="!mdEditing" ng-bind-html="md.preview"></div>

                                <div ng-show="mdEditing" ui-ace="aceOption" ng-model="md.mdBody"
                                     class="ace_editor"></div>
                            </form>



                        </div>


                        <div class="form-group" style="text-align:center;">
                            <button class="btn btn-xs" ng-show="!mdEditing"
                                    style="margin-right: 5px; background-color: #2b669a; color: white;"
                                    ng-click="editMD()">
                                <i class="glyphicon glyphicon-edit"></i>编辑公告
                            </button>

                            <button class="btn btn-xs" ng-show="mdEditing"
                                    style="margin-right: 5px; background-color: #ff8700; color: white;"
                                    ng-click="saveMD()">
                                <i class="glyphicon glyphicon-ok"></i>保存公告
                            </button>
                        </div>
                    </div>
                </div>
            </uib-tabset>
        </div>
    </div>
    <!-- / main -->
</div>

