<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">Nginx配置文件管理
                    </h1>
                    <small class="text-muted">自定义生成Nginx的location/upstream配置文件</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->

            <uib-tabset>
                <uib-tab index="0" heading="VHOST配置">
                    <div class="panel panel-default" ng-controller="nginxVhostCtrl">
                        <div class="panel-body">
                            <div>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <button
                                                type="button" class="btn btn-success" ng-click="pageChanged()"><span
                                                class="glyphicon glyphicon-repeat"></span>查询
                                        </button>

                                        <button type="button" class="btn btn-success" ng-click="addVhost()"><span
                                                class="glyphicon glyphicon-plus"></span>新增
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-top: 5px;">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td class="col-md-3">虚拟主机</td>
                                        <td>环境配置</td>
                                        <td class="col-md-2">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in pageData">
                                        <td>{{item.serverName}}
                                            <b class="pull-right">名称</b>
                                            </br>
                                            <b style="color: #017ebc">{{item.serverKey}}</b>
                                            <b class="pull-right">Key</b>
                                            </br>
                                            {{item.content}}
                                        </td>
                                        <td>
                                            <div style="margin-top: 5px;">
                                                <table class="table table-hover table-bordered table-striped">

                                                    <tr ng-repeat="env in item.envList">
                                                        <td class="col-md-2">
                                                            <span style="color: #777" ng-if="env.envType == 0">保留</span>
                                                            <span style="color: #5bc0de"
                                                                  ng-if="env.envType == 1">dev</span>
                                                            <span style="color: #449d44"
                                                                  ng-if="env.envType == 2">daily</span>
                                                            <span style="color: #ec971f"
                                                                  ng-if="env.envType == 3">gray</span>
                                                            <span style="color: #d9534f"
                                                                  ng-if="env.envType == 4">prod</span>
                                                            <span style="color: #5e5e5e"
                                                                  ng-if="env.envType == 5">test</span>
                                                            <span style="color: #286090"
                                                                  ng-if="env.envType == 6">back</span>
                                                        </td>
                                                        <td>
                                                            <div class="col-md-6" ng-repeat="file in env.envFiles">

                                                               <div ng-show="env.autoBuild == true || file.fileKey !='UPSTREAM'">
                                                                <b style="margin-left: 5px; color: #286090;"><i
                                                                        class="glyphicon glyphicon-file"></i>{{file.fileKey}}</b>

                                                                <button ng-click="launchFile(file.id,0)"
                                                                        class="btn btn-xs"
                                                                        style="margin-left: 5px; background-color: limegreen; color: white;">
                                                                    <span class="glyphicon glyphicon-search"></span>预览
                                                                </button>
                                                                <button ng-click="launchFile(file.id,1)"
                                                                        class="btn btn-xs"
                                                                        style="margin-left: 5px; background-color: limegreen; color: white;">
                                                                    <span class="glyphicon glyphicon-search"></span>本地
                                                                </button>
                                                                <button ng-click="buildFile(file.id)"
                                                                        class="btn btn-xs"
                                                                        ng-disabled="taskRunning"
                                                                        style="margin-left: 5px; background-color: #ff8700; color: white;">
                                                                    <i class="fa fa-spin fa-spinner"
                                                                       ng-show="taskRunning"></i>
                                                                    <i class="glyphicon glyphicon-save"
                                                                       ng-show="!taskRunning"></i>保存
                                                                </button>
                                                               </div>


                                                            </div>
                                                        </td>
                                                    </tr>


                                                </table>
                                            </div>


                                        </td>
                                        <td>
                                            <button ng-click="editVhost(item)"
                                                    class="btn btn-xs"
                                                    style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                                <i class="glyphicon glyphicon-edit"></i>编辑
                                            </button>

                                            <button ng-click="configureVhost(item)"
                                                    class="btn btn-xs"
                                                    style="margin-left: 5px; background-color: #00af00; color: white;">
                                                <i class="fa fa-bars"></i>配置
                                            </button>


                                            <!--<button ng-click="invokeItem(item.id)" ng-show="false"-->
                                            <!--class="btn btn-xs"-->
                                            <!--ng-disabled="butInvokeDisabled"-->
                                            <!--uib-popover-html="'同步配置并生效'" popover-trigger="'mouseenter'"-->
                                            <!--style="margin-left: 5px; background-color: #ff5f87; color: white;">-->
                                            <!--<i class="fa fa-spin fa-spinner" ng-show="butInvokeSpinDisabled"></i>-->
                                            <!--<i class="icon icon-control-play" ng-show="!butInvokeSpinDisabled"></i>执行-->
                                            <!--</button>-->

                                            <button ng-click="delVhost(item.id)"
                                                    class="btn btn-xs pull-right"
                                                    ng-disabled="butDelDisabled"
                                                    style="background-color: red; color: white;">
                                                <i class="glyphicon glyphicon-remove"></i>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="10">
                                            <ul style="margin: 0px; float: right;" uib-pagination
                                                total-items="totalItems" ng-model="currentPage"
                                                items-per-page="pageLength" max-size="10" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="PLAYBOOK配置">
                    <div class="panel panel-default" ng-controller="playbookCtrl">
                        <div class="panel-body">
                            <div>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <button
                                                type="button" class="btn btn-success" ng-click="queryPlaybook()"><span
                                                class="glyphicon glyphicon-repeat"></span>查询
                                        </button>

                                        <button type="button" class="btn btn-success"
                                                ng-click="addPlaybook()"><span
                                                class="glyphicon glyphicon-plus"></span>新增
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-top: 5px;">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td class="col-md-2">虚拟主机</td>
                                        <td class="col-md-3">配置详情</td>
                                        <td>分组中的服务器</td>
                                        <td class="col-md-2">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in playbookList">
                                        <td>
                                            <b style="color: #286090">{{item.vhostVO.serverName}}</b>
                                            <b class="pull-right">{{item.vhostVO.content}}</b>
                                            </br>
                                            <b style="color: #286090">{{item.vhostVO.serverKey}}</b>
                                        </td>
                                        <td>
                                            <b style="color: #286090">{{item.src}}</b>
                                            <b class="pull-right">源路径</b>
                                            </br>
                                            <b style="color: #286090">{{item.dest}}</b>
                                            <b class="pull-right">目标路径</b>
                                            </br>
                                            <b style="color: #286090">{{item.hostPattern}}</b>
                                            <b class="pull-right">分组HostPattern</b>
                                        </td>
                                        <td>
                                            <div class="col-md-6" ng-repeat="server in item.servers">
                                                <b style="color: #286090">
                                                    {{server.serverName}}-{{server.serialNumber}}<{{server.insideIp}}></b>
                                            </div>

                                        </td>
                                        <td>
                                            <button ng-click="doPlaybook(item.id)"
                                                    class="btn btn-xs"
                                                    style="margin-left: 5px; background-color: limegreen; color: white;">
                                                <span class="glyphicon icon-control-play"></span>Playbook
                                            </button>

                                            <button ng-click="delPlaybook(item.id)"
                                                    class="btn btn-xs pull-right"
                                                    ng-disabled="butDelDisabled"
                                                    style="background-color: red; color: white;">
                                                <i class="glyphicon glyphicon-remove"></i>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="10">
                                            <ul style="margin: 0px; float: right;" uib-pagination
                                                total-items="totalItems" ng-model="currentPage"
                                                items-per-page="pageLength" max-size="10" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>


                            <div style="font-size:0.5em;">&nbsp;</div>
                            <!--playbook结果-->
                            <div class="panel panel-info">
                                <!--style="background-color: #20a03f"-->
                                <div class="panel-heading">当前Playbook日志
                                    <span ng-if="playbookLog.complete != null" class="label">
                                              <i style="color: #00a8f3" class="fa fa-spin fa-spinner"
                                                 ng-show="!playbookLog.complete"></i>
                                              <b style="color: #00a8f3"
                                                 ng-show="!playbookLog.complete">Do Playbook ...</b>
                                        </span>
                                </div>
                                <form class="form-group" ng-if="playbookLog.complete">
                                    <div hljs hljs-source="playbookLog.playbookLog"></div>
                                </form>

                            </div>
                        </div>


                    </div>
                </uib-tab>
                <uib-tab index="2" heading="历史任务查询">
                    <div class="panel panel-default" ng-controller="playbookLogCtrl">
                        <div class="panel-body">
                            <div>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Playbook名称</span>
                                            <input type="text" class="form-control" ng-model="playbookName"
                                                   placeholder="名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">操作人</span>
                                            <input type="text" class="form-control" ng-model="username"
                                                   placeholder="用户名">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button
                                                type="button" class="btn btn-success" ng-click="pageChanged()"><span
                                                class="glyphicon glyphicon-repeat"></span>查询
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div style="margin-top: 5px;">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td class="col-md-3">Playbook</td>
                                        <td>参数</td>
                                        <td class="col-md-2">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in pageData">
                                        <td>
                                            <b>{{item.playbookName}}</b>
                                            <b class="pull-right">名称</b>
                                            </br>
                                            <b style="color: #1e983b" ng-show="item.doType == 1">手动</b>
                                            <b style="color: #3abee8" ng-show="item.doType == 0">系统</b>
                                            <b class="pull-right">任务类型</b>
                                            </br>
                                            <b style="color: #1e983b" ng-show="item.complete">完成</b>
                                            <b style="color: #ff8700" ng-show="!item.complete">执行中</b>
                                            <b class="pull-right">状态</b>
                                            </br>
                                            <b style="color: #ff5f87">{{item.viewTime}}</b>
                                            <b class="pull-right">时间</b>
                                            <div ng-show="item.userDO != null ">
                                                <b style="color: #1b6d85">{{item.userDO.username}}<{{item.userDO.displayName}}></b>
                                                <b class="pull-right">执行人</b>
                                            </div>

                                        </td>
                                        <td>
                                            {{item.content}}
                                        </td>
                                        <td>
                                            <button ng-click="viewLog(item)"
                                                    class="btn btn-xs"
                                                    style="margin-left: 5px; background-color: #00a8f3; color: white;">
                                                <span class="glyphicon glyphicon-search"></span>查看
                                            </button>

                                            <button ng-click="delItem(item.id)"
                                                    class="btn btn-xs pull-right"
                                                    ng-disabled="butDelDisabled"
                                                    style="background-color: red; color: white;">
                                                <i class="glyphicon glyphicon-remove"></i>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="10">
                                            <ul style="margin: 0px; float: right;" uib-pagination
                                                total-items="totalItems" ng-model="currentPage"
                                                items-per-page="pageLength" max-size="10" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="form-group">
                                    <div ng-if="alert.type != ''">
                                        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">
                                            {{alert.msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <!-- / main -->
</div>

<!--新增/编辑 vhost-->
<script type="text/ng-template" id="vhostInfo">
    <div ng-include="'tpl/modal/nginx/vhost_info_modal.html'"></div>
</script>

<!--配置-->
<script type="text/ng-template" id="vhostConfigureInfo">
    <div ng-include="'tpl/modal/nginx/vhost_configure_info_modal.html'"></div>
</script>

<!--查看nginx配置-->
<script type="text/ng-template" id="launchFileInfoModal">
    <div ng-include="'tpl/modal/nginx/launch_file_info_modal.html'"></div>
</script>

<script type="text/ng-template" id="nginxPlaybookModal">
    <div ng-include="'tpl/modal/playbook/nginx_playbook_modal.html'"></div>
</script>


<!--查看Playbook日志-->
<script type="text/ng-template" id="playbookLogInfoModal">
    <div ng-include="'tpl/modal/playbook/playbook_log_info_modal.html'"></div>
</script>




