<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">持续集成</h1>
                    <small class="text-muted">WebHooks</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->

            <uib-tabset>
                <uib-tab index="0" heading="WebHooks">
                    <div class="panel panel-default" ng-controller="webHooksCtrl">
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">项目名</span>
                                        <input type="text" class="form-control" ng-model="queryProjectName"
                                               placeholder="projectName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">仓库名</span>
                                        <input type="text" class="form-control" ng-model="queryRepositoryName"
                                               placeholder="repositoryName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">hook类型</span>
                                        <select class="form-control" ng-model="nowHookType"
                                                ng-options="hook.code as hook.name for hook in hookType">
                                            <option value="">--请选择--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">触发构建</span>
                                        <select class="form-control" ng-model="nowTriggerType"
                                                ng-options="trigger.code as trigger.name for trigger in triggerType"
                                                required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-info" ng-click="doQuery()"><span
                                            class="glyphicon glyphicon-search"></span>搜索
                                    </button>
                                    <button type="button" class="btn btn-info" ng-click="reSet()"><span
                                            class="glyphicon glyphicon-repeat"></span>重置
                                    </button>
                                    <button type="button" class="btn btn-success" ng-click="addServer()"
                                            ng-if="contains(authPoint, '/server/save')"><span
                                            class="glyphicon glyphicon-plus"></span>新增
                                    </button>
                                </div>
                            </form>

                            <div class="panel panel-default" style="margin-top: 5px;;">
                                <div class="panel-body">
                                    <div>
                                        <table class="table table-hover table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <td>项目名</td>
                                                <td>仓库名</td>
                                                <td>用户</td>
                                                <td>详情</td>
                                                <td>创建时间</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in pageData">
                                                <td>{{item.projectName}}</td>
                                                <td>{{item.repositoryName}}</td>
                                                <td>{{item.userName}}</td>
                                                <td>
                                                    <b style="color: darkred">{{item.commitAfter}}</b>
                                                    <b class="pull-right">commit</b>
                                                    </br>
                                                    <b style="color: #286090">{{item.ref}}</b>
                                                    <b class="pull-right">ret</b>
                                                    </br>
                                                    <b style="color: #286090">{{item.repositoryHomepage}}</b>
                                                    <b class="pull-right">homepage</b>
                                                    </br>
                                                    <b style="color: #286090" ng-if="item.webHooksType ==0">前端hook</b>
                                                    <b class="pull-right">hook类型</b>
                                                    </br>
                                                    <b style="color: #777" ng-if="item.triggerBuild == 0">否</b>
                                                    <b style="color: #286090" ng-if="item.triggerBuild == 1">是</b>
                                                    <b class="pull-right">触发构建</b>
                                                    </br>
                                                    <b style="color: #286090">{{item.repositoryDescription}}</b>
                                                    <b class="pull-right"
                                                       ng-if="item.repositoryDescription !=null && item.repositoryDescription !=''">desc</b>
                                                </td>
                                                <td>{{(item.gmtModify == null || item.gmtModify == '') ? item.gmtCreate
                                                    : item.gmtModify}}
                                                </td>
                                                <td ng-if="contains(authPoint, '/server/save')">
                                                    <button ng-click="editServer(item)"
                                                            class="btn btn-xs"
                                                            style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                                        <span class="glyphicon glyphicon-edit"></span>编辑
                                                    </button>

                                                    <button ng-click="delServer(item)"
                                                            class="btn btn-xs pull-right"
                                                            style="background-color: red; color: white;">
                                                        <span class="glyphicon glyphicon-remove"></span>删除
                                                    </button>

                                                    <!--<span class="glyphicon glyphicon-pencil"-->
                                                    <!--style="font-size:1em" ng-click="editServer(item)"></span>-->
                                                    <!--<span class="glyphicon glyphicon-trash pull-right"-->
                                                    <!--style="font-size:1em" ng-click="delServer(item)"></span>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="9">
                                                    <ul style="margin: 0px; float: right;" uib-pagination
                                                        total-items="totalItems" ng-model="currentPage"
                                                        items-per-page="pageLength" max-size="10"
                                                        ng-change="pageChanged()" previous-text="&lsaquo;"
                                                        next-text="&rsaquo;"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <!-- / main -->
</div>

