<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">SCM组管理</h1>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->

            <uib-tabset>
                <div ng-controller="scmgroupsCtrl">
                    <div style="margin-top: 5px;" class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">SCM项目名称</span>
                                        <input type="text" class="form-control" ng-model="queryScmProject"
                                               placeholder="SCM项目名称project">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">持续集成组名称</span>
                                        <input type="text" class="form-control" ng-model="queryGroupName"
                                               placeholder="持续集成组名称">
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<div class="input-group">-->
                                <!--<span class="input-group-addon">环境类型</span>-->
                                <!--<select class="form-control" ng-model="nowEnv"-->
                                <!--ng-options="envItem.code as envItem.name for envItem in envType"-->
                                <!--required>-->
                                <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                                <!--</select>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <button type="button" class="btn btn-info" ng-click="doQuery()"><span
                                            class="glyphicon glyphicon-search"></span>搜索
                                    </button>
                                </div>
                                <button type="button" class="btn btn-info" ng-click="reSet()"><span
                                        class="glyphicon glyphicon-repeat"></span>重置
                                </button>
                                <button type="button" class="btn btn-success" ng-click="doRefresh()"><span
                                        class="glyphicon glyphicon-refresh"></span>同步数据
                                </button>
                            </form>
                            <div style="margin-top: 5px;">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td class="col-md-2" >SCM项目名称</td>
                                        <td class="col-md-2">持续集成组名称</td>
                                        <td>Desc</td>
                                        <td>创建时间</td>
                                        <td class="col-md-2">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in pageData">
                                        <td>
                                            {{item.scmProject}}
                                        </td>
                                        <td>
                                            <span style="color: #ec971f" ng-show="item.groupName == ''">未配置</span>
                                            <span ng-show="item.groupName != ''">{{item.groupName}}</span>
                                        </td>
                                        <td>
                                            {{item.scmDescription}}
                                        </td>
                                        <td>{{item.gmtCreate}}</td>
                                        <td>
                                            <button ng-click="editScmgroup(item)"
                                                    class="btn btn-xs"
                                                    style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                                <span class="glyphicon glyphicon-edit"></span>编辑
                                            </button>

                                            <button ng-click="delScmgroup(item)"
                                                    class="btn btn-xs pull-right"
                                                    style="background-color: red; color: white;">
                                                <span class="glyphicon glyphicon-remove"></span>删除
                                            </button>

                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <ul style="margin: 0px; float: right;" uib-pagination
                                                total-items="totalItems" ng-model="currentPage"
                                                items-per-page="pageLength" max-size="10" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tabset>
        </div>
    </div>
    <!-- / main -->
</div>

<script type="text/ng-template" id="scmgroupsInfo">
    <div ng-include="'tpl/modal/scmgroups_info_modal.html'"></div>
</script>
