<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">团队管理</h1>
                    <!--<small class="text-muted">可访问堡垒机列表管理</small>-->
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <!-- / toaster directive -->

            <div ng-controller="teamCtrl">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">名称</span>
                                    <input type="text" class="form-control" ng-model="queryTeamName"
                                           placeholder="名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info" ng-click="doQuery()"><span
                                        class="glyphicon glyphicon-search"></span>搜索
                                </button>
                                <button type="button" class="btn btn-success" ng-click="addTeam()"><span
                                        class="glyphicon glyphicon-plus"></span>新增
                                </button>
                            </div>
                        </form>
                        <div style="margin-top: 5px;">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td class="col-md-2">团队详情</td>
                                    <td>团队成员</td>
                                    <td class="col-md-2">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pageData">
                                    <td>{{item.teamName}}
                                        <b class="pull-right">名称</b>
                                        </br>
                                        <b style="color: #017ebc">{{item.leader.username}}<{{item.leader.displayName}}></b>
                                        <b class="pull-right">负责人</b>
                                        </br>
                                        {{item.content}}
                                    </td>
                                    <td>
                                        <div class="col-md-4" ng-repeat="teamuser in item.teamusers">
                                            {{teamuser.userDO.username + '<' +teamuser.userDO.displayName+'>'}}
                                        </div>
                                    </td>

                                    <td>
                                        <button ng-click="editTeam(item)"
                                                class="btn btn-xs"
                                                style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                            <span class="glyphicon glyphicon-edit"></span>编辑
                                        </button>
                                        <button ng-click="editTeamuser(item)"
                                                class="btn btn-xs"
                                                style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                            <span class="icon icon-users"></span>成员管理
                                        </button>
                                        <button ng-click="delServerGroup(item)"
                                                class="btn btn-xs pull-right"
                                                style="background-color: red; color: white;">
                                            <span class="glyphicon glyphicon-remove"></span>删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul style="margin: 0px; float: right;" uib-pagination
                                            total-items="totalItems" ng-model="currentPage"
                                            items-per-page="pageLength" max-size="10" ng-change="pageChanged()"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- / main -->
</div>

<!--团队管理-->
<script type="text/ng-template" id="teamInfo">
    <div ng-include="'tpl/modal/team/team_info_modal.html'"></div>
</script>

<!--团队成员管理-->
<script type="text/ng-template" id="teamuserInfo">
    <div ng-include="'tpl/modal/team/teamuser_info_modal.html'"></div>
</script>
