<style>
    .artifactDetails .popover {
        max-width: 400px !important;
    }

    .ace_editor {
        height: 300px;
    }
</style>
<div class="container w-auto-xs" ng-controller="accessCiJobDeployCtrl" ng-init="app.settings.container = false;">
    <div class="m-b-lg">
        <a href class="navbar-brand block m-t" style="color: #286090">持续集成部署任务详情</a>
        <button type="button" class="btn glyphicon glyphicon-arrow-left pull-left" ng-click="goBack()"></button>
    </div>

    <div class="m-b-lg">
        <div class="wrapper text-center">
        </div>

        <div class="panel" style="margin-top: 5px;">
            <div class="panel-body">
                <div class="wrapper-md">
                    <form class="form-horizontal">

                        <div class="wrapper-md">
                            <!-- toaster directive -->
                            <toaster-container
                                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

                            <uib-tabset>
                                <uib-tab index="0" heading="任务配置">

                                    <div style="font-size:1em;">&nbsp;</div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">任务名称
                                            </label>
                                            <div class="input-group" style="padding-left: 15px; padding-right: 15px">
                                                <input type="text" class="form-control" placeholder="任务名称" readonly
                                                       ng-model="jobItem.jobName">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default"
                                                            ng-click="checkJobName(jobItem.jobName)"><i
                                                            class="glyphicon glyphicon-check pull-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group build-params">
                                        <label class="col-lg-2 control-label">仓库地址</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" placeholder="仓库地址" readonly
                                                   ng-model="appItem.sshUrl">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">分支</label>
                                            <div class="col-lg-8">
                                                <!--required-->
                                                <select class="form-control" ng-model="jobItem.branch" readonly
                                                        ng-options="branch.name as branch.name for branch in jobItem.branchList">
                                                    <option value="">--请选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">环境类型</label>
                                            <div class="col-lg-8">
                                                <!--required-->
                                                <select class="form-control" ng-model="jobItem.envType" readonly
                                                        ng-options="jobEnv.code as jobEnv.name for jobEnv in jobEnvType">
                                                    <option value="">--请选择--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">回滚类型</label>
                                            <div class="col-lg-8">
                                                <select class="form-control" ng-model="jobItem.rollbackType" readonly
                                                        ng-options="rollback.code as rollback.name for rollback in rollbackType">
                                                    <option value="">--请选择--</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">构建类型</label>
                                            <div class="col-lg-8">
                                                <!--required-->
                                                <select class="form-control" ng-model="jobItem.ciType" readonly
                                                        ng-options="ci.code as ci.name for ci in ciType">
                                                    <option value="">--请选择--</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">说明</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" cols="3" placeholder="简短描述"
                                                      ng-model="jobItem.content" readonly></textarea>
                                        </div>
                                    </div>

                                </uib-tab>
                                <uib-tab index="1" heading="默认参数" ng-show="jobItem.id != 0">
                                    <div style="font-size:1em;">&nbsp;</div>
                                    <div ui-ace="aceOption" ng-readonly=true ng-model="jobItem.paramsYaml"
                                         class="ace_editor"></div>
                                </uib-tab>
                            </uib-tabset>
                        </div>


                        <div class="panel-body">
                            <div>
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td class="col-md-1">编号</td>
                                        <td class="col-md-10">任务详情</td>
                                        <td class="col-md-1">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in pageData">
                                        <td>
                                            <b style="color: #c9302c" ng-if="item.buildNumber ==-1">队列</b>
                                            <b style="color: #286090"
                                               ng-if="item.buildNumber > 0">{{item.buildNumber}}</b>
                                        </td>
                                        <td>
                                            <div ng-include="'tpl/modal/ci/include/build_details.html'"></div>
                                        </td>
                                        <td>
                                            <a class="btn btn-xs"
                                               style="margin-top:5px; background-color: #737373; color: white;"
                                               href="{{item.console}}"
                                               target="_blank"><i class="fa fa-terminal"></i>日志</a>
                                            </br>
                                            <a class="btn btn-xs" ng-show="item.buildPhase == 'FINALIZED' && item.buildStatus == 'SUCCESS'"
                                               style="margin-top:5px; background-color: #8ec165; color: white;"
                                               href="#/access/androidArtifact?buildId={{item.id}}"
                                               target="_blank"><i class="fa fa-android"></i>下载</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <ul style="margin: 0px; float: right;" uib-pagination
                                                total-items="totalItems"
                                                ng-model="currentPage" items-per-page="pageLength" max-size="10"
                                                ng-change="pageChanged(currentPage)" previous-text="&lsaquo;"
                                                next-text="&rsaquo;"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div style="font-size:1em;">&nbsp;</div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
