<h4>服务器列表</h4>
<div style="width: 100%; height: 1px; border: 0.5px solid #eee;"></div>

<div class="form-group" style="margin-top: 5px;margin-left: 15px">
    <div class="col-lg-1">
        <input type="checkbox" ng-model="envChoose.all" ng-click="chooseAllItem()">
          <b style="margin-left: 5px;color: #b92c28">all</b>
    </div>

    <div class="col-lg-1">
        <input type="checkbox" ng-model="envChoose.prod" ng-click="chooseEnv(4)">
          <b style="margin-left: 5px;color: #d9534f">prod</b>
    </div>
    <div class="col-lg-1">
        <input type="checkbox" ng-model="envChoose.back" ng-click="chooseEnv(6)">
        <b style="margin-left: 5px;color: #286090">back</b>
    </div>
    <div class="col-lg-1">
        <input type="checkbox" ng-model="envChoose.gray" ng-click="chooseEnv(3)">
          <b style="margin-left: 5px;color: #ec971f">gray</b>
    </div>
    <div class="col-lg-1">
        <input type="checkbox" ng-model="envChoose.daily" ng-click="chooseEnv(2)">
          <b style="margin-left: 5px;color: #449d44"> daily</b>
    </div>
    <!--</form>-->
</div>
<table class="table" style="margin-top: 5px;">
    <tbody>
    <tr ng-repeat="item in pageData" class="col-md-4">
        <td class="col-md-12">
            <input type="checkbox" ng-model="item.choose">
            <b style="color: #777 ;margin-left: 5px;">{{item.serverName}}-</b>
            <b style="color:{{item.env.color}}">{{item.env.name}}</b><b style="color: #777">-{{item.serialNumber}}<{{item.insideIP.ip}}></b>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="9">
            <ul style="margin: 0px; float: left;" uib-pagination
                total-items="totalItems"
                ng-model="currentPage" items-per-page="pageLength" max-size="10"
                ng-change="pageChanged()" previous-text="&lsaquo;"
                next-text="&rsaquo;"></ul>
        </td>
    </tr>
    </tfoot>
</table>
