<h4>执行列表</h4>
<!--<div style="width: 100%; height: 1px; border: 0.5px solid #eee;"></div>-->

<table class="table" style="margin-top: 5px;">
    <tbody>
    <tr ng-repeat="pg in playbookGroupList">
        <td class="col-md-12">
            <b style="color: #777 ;margin-left: 5px;">{{pg.hostPattern}}</b>
            <i uib-popover-html="pg.info" popover-placement="bottom"
               popover-trigger="'mouseenter'"
               class="icon icon-info"
               style="color: green;"></i>
            <button ng-click="delPg(pg)"
                    class="btn btn-xs pull-right" uib-popover-html="'从任务列表移除'"
                    popover-trigger="'mouseenter'"
                    style="margin-left: 5px; background-color: #b92c28; color: white;">
                <span class="glyphicon glyphicon-remove"></span>移除
            </button>
        </td>
    </tr>
    </tbody>
</table>
