<table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
        <td>服务器组</td>
        <td class="col-md-2">操作</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in serverGroupTable">
        <td>
            <b style="color: #286090">{{item.serverGroupName}}</b>
        </td>
        <td>
            <button class="btn btn-xs pull-right"
                  style="background-color: #d9534f; color: white;"
                  uib-popover-html="'移除'" popover-trigger="'mouseenter'"
                  ng-click="delServerGroup(item.id)">
                <span class="glyphicon glyphicon-remove"></span>移除
            </button>
        </td>
    </tr>
    </tbody>
</table>