<label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>服务器组</label>
<div class="col-lg-4">
    <ui-select ng-model="nowServerGroup.selected" theme="bootstrap">
        <ui-select-match placeholder="搜索服务器组名称......">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices refresh="queryServerGroup($select.search)" refresh-dalay="0"
                           repeat="item in serverGroupList | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>

<div class="col-lg-2">
    <button ng-click="addServerGroup()" class="btn btn-xs"
            style="margin-top: 5px; background-color: limegreen; color: white;"
            uib-popover-html="'添加'" popover-trigger="'mouseenter'">
        <span class="glyphicon glyphicon-plus"></span>添加
    </button>
</div>
