<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span style="color:white">v2.0.1</span>
    </li>


    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i>
                <embed src="img/simpleicons/dashboard.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">首页</span>
        </a>
    </li>

    <!-- 服务器管理 -->
    <li ng-if="checkMenu('app.servergroup') || checkMenu('app.server') || checkMenu('app.property') || checkMenu('app.serverTemplate')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
                <embed src="img/simpleicons/server.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold" style="color:#87EC00">服务器管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>服务器管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.servergroup')">
                <a ui-sref="app.servergroup">
                    <span>服务器组</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.server')">
                <a ui-sref="app.server">
                    <span>服务器</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.ecsServer')">
                <a ui-sref="app.ecsServer">
                    <span>ECS服务器</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.vmServer')">
                <a ui-sref="app.vmServer">
                    <span>VM服务器</span>
                </a>
            </li>
            <!--<li ui-sref-active="active" ng-if="checkMenu('app.physicalServer')">-->
            <!--<a ui-sref="app.physicalServer">-->
            <!--<span>物理服务器</span>-->
            <!--</a>-->
            <!--</li>-->
            <li ui-sref-active="active" ng-if="checkMenu('app.property')">
                <a ui-sref="app.property">
                    <span>属性管理</span>
                </a>
            </li>
        </ul>
    </li>
    <!-- 服务器管理 -->

    <li ng-if="checkMenu('app.kubernetes')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
                <span><img src="img/simpleicons/kubernetes_logo_with_border.svg" width="18" height="18"></span>
            </i>
            <span class="font-bold"><img src="img/simpleicons/kubernetes_name_blue.svg" width="80" height="16"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>Kubernetes</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.kubernetesCluster')">
                <a ui-sref="app.kubernetesCluster">
                    <span>集群管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.kubernetesService')">
                <a ui-sref="app.kubernetesService">
                    <span>服务</span>
                </a>
            </li>

        </ul>
    </li>

    <!-- 持续集成  checkMenu('app.ci') -->

    <li ng-if="checkMenu('app.ci')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
                <embed src="img/simpleicons/devops.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold" style="color:#1ED760">持续集成</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>持续集成</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.gitlab')">
                <a ui-sref="app.gitlab">
                    <embed src="img/simpleicons/git.svg" width="15" height="15"
                           type="image/svg+xml"
                           pluginspage="img/simpleicons/"></embed>
                    <b>Git仓库</b>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.ciApp')">
                <a ui-sref="app.ciApp">
                    <span style="color: #8ec165" class="fa fa-adn">应用管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.ciTemplate')">
                <a ui-sref="app.ciTemplate">
                    <!--fa-stack-overflow-->
                    <span style="color: #31b0d5" class="fa fa-codepen">任务模版</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- 监控管理 -->

    <li ng-if="checkMenu('app.zabbixserver') || checkMenu('app.servermonitor')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
                <embed src="img/simpleicons/zabbix.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">服务器监控</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>服务器监控</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.zabbixserver')">
                <a ui-sref="app.zabbixserver">
                    <span>Zabbix管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.grafana')">
                <a ui-sref="app.grafana">
                    <embed src="img/simpleicons/grafana.svg" width="15" height="15"
                           type="image/svg+xml"
                           pluginspage="img/simpleicons/"></embed>
                    <span>Grafana</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.servermonitor')" ng-if="false">
                <a ui-sref="app.servermonitor">
                    <span>监控查看</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk" ng-if="checkMenu('app.zabbixserver') || checkMenu('app.servermonitor')"></li>

    <!-- 监控管理 -->

    <!-- 任务管理 -->

    <li ng-if="checkMenu('app.logcleanup') || checkMenu('app.servertask')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i >
                <embed src="img/simpleicons/ansible-circle.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span style="color:white" class="font-bold" style="color:#E10098">任务管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>任务管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.servertask')">
                <a ui-sref="app.servertask">
                    <span>Task</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.serverplaybook')">
                <a ui-sref="app.serverplaybook">
                    <span>Playbook</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.taskScript')">
                <a ui-sref="app.taskScript">
                    <span>Script</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.logcleanup')">
                <a ui-sref="app.logcleanup">
                    <span>日志弹性清理</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk" ng-if="checkMenu('app.logcleanup') || checkMenu('app.servertask')"></li>

    <!-- 任务管理 -->

    <!-- 统计 ng-if="checkMenu('app.statistics')"-->

    <li ng-if="false">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
            <span class="font-bold">统计</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>统计</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.statistics')">
                <a ui-sref="app.statistics">
                    <span>部署统计</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.serverstatistics')">
                <a ui-sref="app.serverstatistics">
                    <span>服务器统计</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.serverperfstatistics')">
                <a ui-sref="app.serverperfstatistics">
                    <span>服务器性能统计</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.serverload')">
                <a ui-sref="app.serverload">
                    <span>服务器负载</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="false" class="line dk" ng-if="checkMenu('app.statistics')"></li>

    <!-- 统计 -->

    <!-- IP管理 -->

    <li ng-if="checkMenu('app.ipgroup') || checkMenu('app.ip')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
                <embed src="img/simpleicons/ip.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">IP管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>IP管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.ipgroup')">
                <a ui-sref="app.ipgroup">
                    <span>IP段</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.ip')">
                <a ui-sref="app.ip">
                    <span>IP</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk" ng-if="checkMenu('app.ipgroup') || checkMenu('app.ip')"></li>

    <!-- IP管理 -->

    <!--MQ管理-->

    <li ng-if="checkMenu('app.aliyunMq')">
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i>
                <embed src="img/simpleicons/mq.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">阿里云MQ管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" ng-if="checkMenu('app.aliyunMqMgmt')">
                <a ui-sref="app.aliyunMqMgmt">
                    <span>MQ配置</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.aliyunMqStatus')">
                <a ui-sref="app.aliyunMqStatus">
                    <span>MQ详情</span>
                </a>
            </li>
        </ul>
    </li>

    <!--MQ管理-->

    <!--RAM管理-->

    <li ng-if="checkMenu('app.aliyunRam')">
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i>
                <embed src="img/simpleicons/ram.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">阿里云RAM管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" ng-if="checkMenu('app.aliyunRamPolicy')">
                <a ui-sref="app.aliyunRamPolicy">
                    <span>策略管理</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" ng-if="checkMenu('app.aliyunRamUser')">
                <a ui-sref="app.aliyunRamUser">
                    <span>用户管理</span>
                </a>
            </li>
        </ul>
    </li>

    <!--RAM管理-->


    <!-- 配置管理 -->

    <li ng-if="checkMenu('app.configFile') || checkMenu('app.configFileGroup') || checkMenu('app.configCenter') || checkMenu('app.gatewayadmin')">
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i>
                <embed src="img/simpleicons/config.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">配置管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>配置管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.configFile')">
                <a ui-sref="app.ansibleConfigFile">
                    <embed src="img/simpleicons/ansible-circle.svg" width="15" height="15"
                           type="image/svg+xml"
                           pluginspage="img/simpleicons/"></embed>
                    <span>Ansibles</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="checkMenu('app.gatewayadmin')">
                <a ui-sref="app.gatewayadmin">
                    <span>GatewayAdmin</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="checkMenu('app.configFile')">
                <a ui-sref="app.shadowsocksConfigFile">
                    <embed src="img/simpleicons/shadowsocks.svg" width="15" height="15" type="image/svg+xml" pluginspage="img/simpleicons/"></embed>
                    <span>Shadowsocks</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="checkMenu('app.configFile')">
                <a ui-sref="app.nginxConfig">
                    <embed src="img/simpleicons/nginx.svg" width="15" height="15" type="image/svg+xml" pluginspage="img/simpleicons/"></embed>
                    <span>Nginx</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="checkMenu('app.configFile')">
                <a ui-sref="app.dnsConfig">
                    <span>DNS</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="checkMenu('app.configFile')">
                <a ui-sref="app.configPlaybook">
                    <span>Playbook</span>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="checkMenu('app.configFile')">
                <a ui-sref="app.configFile">
                    <span>文件管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.configFileGroup')">
                <a ui-sref="app.configFileGroup">
                    <span>文件组管理</span>
                </a>
            </li>

        </ul>
    </li>
    <li class="line dk"
        ng-if="checkMenu('app.configFile') || checkMenu('app.configFileGroup') || checkMenu('app.configCenter')"></li>

    <!-- 配置管理 -->

    <!--Workflow-->
    <li>
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i>
                <embed src="img/simpleicons/work.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">工作台</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" ng-if="checkMenu('app.workflow')">
                <a ui-sref="app.workflow">
                    <embed src="img/simpleicons/workflow.svg" width="15" height="15" type="image/svg+xml"
                           pluginspage="img/simpleicons/"></embed>
                    <span>工作流</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.workflowMgmt')">
                <a ui-sref="app.workflowMgmt">
                    <span>工作流管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.nginxTcp')">
                <a ui-sref="app.nginxTcp">
                    <embed src="img/simpleicons/nginx_tcp.svg" width="15" height="15" type="image/svg+xml"
                           pluginspage="img/simpleicons/"></embed>
                    <span>服务映射</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.teamMgmt')">
                <a ui-sref="app.teamMgmt">
                    <span>团队管理</span>
                </a>
            </li>
        </ul>
    </li>


    <!-- 日志服务  ng-if="checkMenu('app.logService')"-->

    <li ng-if="true">
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i>
                <embed src="img/simpleicons/logservice.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">日志服务</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>日志服务</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.logserviceNginx')">
                <a ui-sref="app.logserviceNginx">
                    <span>Nginx日志</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.javaLogService')">
                <a ui-sref="app.javaLogService">
                    <span>业务日志</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.logserviceManage')">
                <a ui-sref="app.logserviceManage">
                    <span>业务日志配置</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-if="false" class="line dk" ng-if="checkMenu('app.logService')"></li>

    <!-- 日志服务 -->


    <!-- 堡垒机 -->

    <li ng-if="checkMenu('app.keyboxmanage') || checkMenu('app.keybox')">
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i>
                <embed src="img/simpleicons/keybox.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">堡垒机</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>堡垒机</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.keyboxmanage')">
                <a ui-sref="app.keyboxmanage">
                    <span>Keybox管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.jumpserver')">
                <a ui-sref="app.jumpserver">
                    <span>Jumpserver管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.keybox')">
                <a ui-sref="app.keybox">
                    <span>Keybox堡垒机</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.jms')">
                <a ui-sref="app.jms">
                    <span>JMS堡垒机</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="line dk" ng-if="checkMenu('app.keyboxmanage') || checkMenu('app.keybox')"></li>

    <!-- 堡垒机 -->

    <!-- 用户管理 -->

    <li ng-if="checkMenu('app.keyboxmanage') || checkMenu('app.users')">
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i class="glyphicon glyphicon-user icon text-primary-dker"></i>
            <span class="font-bold">用户管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>用户管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.users')">
                <a ui-sref="app.users">
                    <span>用户管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.ldapGroups')">
                <a ui-sref="app.ldapGroups">
                    <span>用户组管理</span>
                </a>
            </li>
            <!--<li ui-sref-active="active" ng-if="checkMenu('app.usersLeave')">-->
            <!--<a ui-sref="app.usersLeave">-->
            <!--<span>离职用户管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active" ng-if="checkMenu('app.ciusers')">-->
            <!--<a ui-sref="app.ciusers">-->
            <!--<span>持续集成权限</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active" ng-if="checkMenu('app.cigroups')">-->
            <!--<a ui-sref="app.cigroups">-->
            <!--<span>持续集成组管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active" ng-if="checkMenu('app.scmgroups')">-->
            <!--<a ui-sref="app.scmgroups">-->
            <!--<span>SCM组管理</span>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </li>

    <li class="line dk" ng-if="checkMenu('app.keyboxmanage') || checkMenu('app.users')"></li>
    <!-- 用户管理 -->

    <!-- 系统管理&个人详情 -->

    <li ui-sref-active="active" ng-if="checkMenu('app.system') || checkMenu('app.userDetail')">
        <a ui-sref="app.system">
            <i class="glyphicon glyphicon-th icon text-info-dker"></i>
            <span class="font-bold">系统管理</span>
        </a>
    </li>
    <li ui-sref-active="active" ng-if="checkMenu('app.userDetail')">
        <a ui-sref="app.userDetail">
            <i>
                <embed src="img/simpleicons/invision.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">个人详情</span>
        </a>
    </li>

    <li ng-show="false" ui-sref-active="active" ng-if="checkMenu('app.explain')">
        <a ui-sref="app.explain">
            <i class="glyphicon glyphicon-th icon text-info-dker"></i>
            <span class="font-bold">订阅审核</span>
        </a>
    </li>

    <li class="line dk" ng-if="checkMenu('app.system') || checkMenu('app.userDetail') || checkMenu('app.explain')"></li>

    <!-- 系统管理&个人详情 -->

    <!-- 权限管理 -->

    <li ng-if="checkMenu('app.resource') || checkMenu('app.role') || checkMenu('app.user')">
        <a href class="auto">
    <span class="pull-right text-muted">
    <i class="fa fa-fw fa-angle-right text"></i>
    <i class="fa fa-fw fa-angle-down text-active"></i>
    </span>
            <i>
                <embed src="img/simpleicons/power.svg" width="15" height="15"
                       type="image/svg+xml"
                       pluginspage="img/simpleicons/"></embed>
            </i>
            <span class="font-bold">权限管理</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>权限管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.resource')">
                <a ui-sref="app.resource">
                    <span>资源管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.role')">
                <a ui-sref="app.role">
                    <span>角色管理</span>
                </a>
            </li>
            <li ui-sref-active="active" ng-if="checkMenu('app.user')">
                <a ui-sref="app.user">
                    <span>用户管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="line dk" ng-if="checkMenu('app.resource') || checkMenu('app.role') || checkMenu('app.user')"></li>

    <!-- 权限管理 -->
</ul>
<!-- / list -->