<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.BusinessTemplateMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.BusinessTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="instance_uuid" jdbcType="VARCHAR" property="instanceUuid" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="env_type" jdbcType="INTEGER" property="envType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="vars" jdbcType="LONGVARCHAR" property="vars" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
</mapper>