<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.CredentialMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.Credential">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="kind" jdbcType="INTEGER" property="kind" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="fingerprint" jdbcType="VARCHAR" property="fingerprint" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="credential" jdbcType="LONGVARCHAR" property="credential" />
    <result column="credential_2" jdbcType="LONGVARCHAR" property="credential2" />
    <result column="passphrase" jdbcType="LONGVARCHAR" property="passphrase" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
</mapper>