<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.EventMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.Event">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="instance_uuid" jdbcType="VARCHAR" property="instanceUuid"/>
        <result column="event_name" jdbcType="VARCHAR" property="eventName"/>
        <result column="event_id" jdbcType="VARCHAR" property="eventId"/>
        <result column="event_id_desc" jdbcType="VARCHAR" property="eventIdDesc"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="lastchange_time" jdbcType="TIMESTAMP" property="lastchangeTime"/>
        <result column="is_active" jdbcType="BIT" property="isActive"/>
        <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="event_message" jdbcType="LONGVARCHAR" property="eventMessage"/>
    </resultMap>

    <!--  通用-->
    <select id="queryUserPermissionEventPageByParam"
            parameterType="com.baiyi.opscloud.domain.param.event.EventParam$UserPermissionEventPageQuery"
            resultMap="BaseResultMap">
        select * from event
        <where>
            <if test="name != null and name != ''">
                event_name like "%" #{name} "%"
            </if>
            <if test="userId != null">
                and id in (
                select event_id from event_business where business_type = #{businessType} and business_id in (
                select business_id from user_permission where business_type = #{businessType} and user_id = #{userId}
                )
                )
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
        order by create_time
    </select>

    <!--  服务器专用  businessType 2(SERVERGROUP)/ 1(SERVER)-->
    <select id="queryUserPermissionServerEventPageByParam"
            parameterType="com.baiyi.opscloud.domain.param.event.EventParam$UserPermissionEventPageQuery"
            resultMap="BaseResultMap">
        select * from event
        <where>
            <if test="name != null and name != ''">
                event_name like "%" #{name} "%"
            </if>
            <if test="userId != null">
                and id in (
                select a1.event_id from event_business as a0 join server as a1 on a0.business_id = a1.id
                where
                a0.business_type = 1
                and a1.server_group_id in (
                select business_id from user_permission where business_type = 2 and user_id = #{userId}
                )
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
        order by create_time
    </select>

</mapper>