<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.LeoBuildMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.LeoBuild">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="build_job_name" jdbcType="VARCHAR" property="buildJobName"/>
        <result column="application_id" jdbcType="INTEGER" property="applicationId"/>
        <result column="build_number" jdbcType="INTEGER" property="buildNumber"/>
        <result column="version_name" jdbcType="VARCHAR" property="versionName"/>
        <result column="version_desc" jdbcType="VARCHAR" property="versionDesc"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="build_status" jdbcType="VARCHAR" property="buildStatus"/>
        <result column="build_result" jdbcType="VARCHAR" property="buildResult"/>
        <result column="is_finish" jdbcType="BIT" property="isFinish"/>
        <result column="is_deleted_build_job" jdbcType="BIT" property="isDeletedBuildJob"/>
        <result column="execution_type" jdbcType="INTEGER" property="executionType"/>
        <result column="pipeline_content" jdbcType="LONGVARCHAR" property="pipelineContent"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="build_config" jdbcType="LONGVARCHAR" property="buildConfig"/>
        <result column="is_active" jdbcType="BIT" property="isActive" />
        <result column="oc_instance" jdbcType="VARCHAR" property="ocInstance"/>
        <result column="ticket_id" jdbcType="INTEGER" property="ticketId"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <resultMap id="ReportResultMap" type="com.baiyi.opscloud.domain.vo.base.ReportVO$Report">
        <result column="c_name" jdbcType="VARCHAR" property="cName"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
    </resultMap>

    <select id="queryMonth" resultMap="ReportResultMap">
        select date_format(create_time, '%Y-%m') as `c_name`
        from leo_build
        where
            build_result = 'SUCCESS'
        group by `c_name`
        order by `c_name`;
    </select>

    <select id="statByMonth" resultMap="ReportResultMap">
        select date_format(create_time, '%Y-%m') as `c_name`, sum(1) as `value`
        from leo_build
        where
            build_result = 'SUCCESS'
        group by `c_name`
        order by `c_name`
    </select>

    <select id="queryPageByParam" parameterType="com.baiyi.opscloud.domain.param.leo.LeoJobParam$JobBuildPageQuery" resultMap="BaseResultMap">
        select a0.* from leo_build a0
        <if test="envType != null">
            join leo_job a1 on a0.job_id = a1.id
        </if>
        <where>
            <if test="envType != null">
                a1.env_type = #{envType}
            </if>
            <if test="jobId != null">
                and a0.job_id = #{jobId}
            </if>
            <if test="isActive != null">
                and a0.is_active = #{isActive}
            </if>
            <if test="applicationId != null and applicationId &gt; 0">
                and a0.application_id = #{applicationId}
            </if>
            <if test="buildResult != null and buildResult != ''">
                and a0.build_result = #{buildResult}
            </if>
            <if test="queryName != null and queryName != ''">
                and a0.username like "%" #{queryName} "%"
            </if>
        </where>
        order by id desc
    </select>

    <select id="getMaxBuildNumberWithJobId" resultType="java.lang.Integer">
        select max(build_number)
        from leo_build
        where job_id = #{jobId}
    </select>

    <select id="statUserTotal" resultType="int">
        select count(distinct(username))
        from leo_build
    </select>

    <select id="statByEnvName" resultMap="ReportResultMap">
        select a2.env_name as `c_name`, count(*) as `value`, a2.color
        from leo_build  a0
           join leo_job a1 on a0.job_id = a1.id
           join sys_env a2 on a1.env_type = a2.env_type
        group by a1.env_type
        order by a1.env_type
    </select>

</mapper>