<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.LeoBuildLogMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.LeoBuildLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="build_id" jdbcType="INTEGER" property="buildId" />
    <result column="log_level" jdbcType="VARCHAR" property="logLevel" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="log" jdbcType="LONGVARCHAR" property="log" />
  </resultMap>
</mapper>