<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.LeoDeployMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.LeoDeploy">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="application_id" jdbcType="INTEGER" property="applicationId"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="deploy_number" jdbcType="INTEGER" property="deployNumber"/>
        <result column="build_id" jdbcType="INTEGER" property="buildId"/>
        <result column="asset_id" jdbcType="INTEGER" property="assetId"/>
        <result column="version_name" jdbcType="VARCHAR" property="versionName"/>
        <result column="version_desc" jdbcType="VARCHAR" property="versionDesc"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="deploy_status" jdbcType="VARCHAR" property="deployStatus"/>
        <result column="deploy_result" jdbcType="VARCHAR" property="deployResult"/>
        <result column="is_finish" jdbcType="BIT" property="isFinish"/>
        <result column="execution_type" jdbcType="INTEGER" property="executionType"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="is_active" jdbcType="BIT" property="isActive"/>
        <result column="is_rollback" jdbcType="BIT" property="isRollback"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deploy_config" jdbcType="LONGVARCHAR" property="deployConfig"/>
        <result column="oc_instance" jdbcType="VARCHAR" property="ocInstance"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <resultMap id="ReportResultMap" type="com.baiyi.opscloud.domain.vo.base.ReportVO$Report">
        <result column="c_name" jdbcType="VARCHAR" property="cName"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
    </resultMap>

    <select id="statByMonth" resultMap="ReportResultMap">
        select date_format(create_time, '%Y-%m') as `c_name`, sum(1) as `value`
        from leo_deploy
        where deploy_result = 'SUCCESS'
        group by `c_name`
        order by `c_name`
    </select>

    <select id="statLast30Days" resultMap="ReportResultMap">
        select date_format(a0.create_time, '%m-%d') as `c_name`, sum(1) as `value`
        from leo_deploy a0
                 join leo_job a1 on a0.job_id = a1.id
        where a1.env_type = 4
          and a0.version_name is not null
          and a0.deploy_result = 'SUCCESS'
          and a0.create_time between date_sub(now(), interval 30 day)
            and now()
        group by `c_name`
        order by `c_name`
    </select>

    <select id="getMaxDeployNumberWithJobId" resultType="java.lang.Integer">
        select max(deploy_number)
        from leo_deploy
        where job_id = #{jobId}
    </select>

    <select id="statByEnvName" resultMap="ReportResultMap">
        select a2.env_name as `c_name`, count(*) as `value`, a2.color
        from leo_deploy a0
                 join leo_job a1 on a0.job_id = a1.id
                 join sys_env a2 on a1.env_type = a2.env_type
        group by a1.env_type
        order by a1.env_type
    </select>

    <select id="countByEnvProjectId" resultType="java.lang.Integer">
        select count(*)
        from leo_deploy a0 join leo_job a1 on a0.job_id = a1.id
        where a0.project_id = #{projectId} and a1.env_type = #{envType}
    </select>

</mapper>