<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.OcUserTokenMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.OcUserToken">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="valid" jdbcType="BIT" property="valid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- 判断用户是否可访问某个资源 -->
    <select id="checkUserHasResourceAuthorize" parameterType="string" resultType="int">
        SELECT count(*)
        FROM oc_user_token a0
          JOIN oc_auth_user_role a1 ON a0.username = a1.username AND a0.token = #{token}
          JOIN oc_auth_role_resource a2 ON a1.role_id = a2.role_id
          JOIN oc_auth_resource a3 ON a2.resource_idd = a3.id AND a3.resource_name = #{resourceName}
    </select>


</mapper>