<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.ProjectResourceMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.ProjectResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="virtual_resource" jdbcType="BIT" property="virtualResource" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
</mapper>