<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.Project">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="project_key" jdbcType="VARCHAR" property="projectKey"/>
        <result column="project_type" jdbcType="VARCHAR" property="projectType"/>
        <result column="project_status" jdbcType="VARCHAR" property="projectStatus"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="is_active" jdbcType="BIT" property="isActive"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryProjectByParam"
            parameterType="com.baiyi.opscloud.domain.param.project.ProjectParam$ProjectPageQuery"
            resultMap="BaseResultMap">
        select a0.* from project a0
        <if test="tagId != null and tagId > 0">
            join business_tag a1 on a0.id = a1.business_id
        </if>
        <where>
            <if test="tagId != null and tagId > 0">
                a1.business_type = #{businessType} and a1.tag_id = #{tagId}
            </if>
            <if test="projectType != null and projectType != ''">
                a0.project_type = #{projectType}
            </if>
            <if test="projectStatus != null and projectStatus != ''">
                a0.project_status = #{projectStatus}
            </if>
            <if test="queryName != null and queryName != ''">
                and ( a0.name like "%" #{queryName} "%"
                or a0.comment like "%" #{queryName} "%" )
            </if>
        </where>
        order by a0.id desc, replace( a0.name, #{queryName}, '' )
    </select>

    <select id="queryResProjectByParam"
            parameterType="com.baiyi.opscloud.domain.param.project.ProjectParam$ResProjectPageQuery"
            resultMap="BaseResultMap">
        select * from project
            where is_active = 1 and id in ( select project_id from project_resource
              where resource_type = #{resourceType}  and business_id = #{businessId} )
        order by id desc
    </select>

</mapper>