<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="display_name" jdbcType="VARCHAR" property="displayName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="is_active" jdbcType="BIT" property="isActive"/>
        <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="mfa" jdbcType="BIT" property="mfa"/>
        <result column="force_mfa" jdbcType="BIT" property="forceMfa"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryPageByParam" parameterType="com.baiyi.opscloud.domain.param.user.UserParam$UserPageQuery"
            resultMap="BaseResultMap">
        select a0.* from user a0
        <if test="tagId != null and tagId > 0">
            join business_tag a1 on a0.id = a1.business_id
        </if>
        <where>
            <if test="tagId != null and tagId > 0">
                a1.business_type = #{businessType} and a1.tag_id = #{tagId}
            </if>
            <if test="queryName != null and queryName != ''">
                and ( username like "%" #{queryName} "%"
                or name like "%" #{queryName} "%"
                or display_name like "%" #{queryName} "%"
                or email like "%" #{queryName} "%"
                or phone like "%" #{queryName} "%"
                or wechat like "%" #{queryName} "%" )
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
            <if test="filterTag != null and filterTag">
                and a0.id not in (
                select business_id from business_tag
                where
                business_type = #{businessType}
                and tag_id = ( select id from tag where tag_key = #{FILTER_SYSTEM_TAG} )
                )
            </if>
        </where>
        order by create_time
    </select>

    <select id="queryBusinessPermissionUserPageByParam"
            parameterType="com.baiyi.opscloud.domain.param.user.UserBusinessPermissionParam$BusinessPermissionUserPageQuery"
            resultMap="BaseResultMap">
        select * from user
        <where>
            <choose>
                <when test="authorized">
                    id in ( select user_id from user_permission where business_id = #{businessId} and business_type =
                    #{businessType} )
                </when>
                <otherwise>
                    id not in ( select user_id from user_permission where business_id = #{businessId} and business_type
                    = #{businessType} )
                </otherwise>
            </choose>
            <if test="queryName != null and queryName != ''">
                and ( username like "%" #{queryName} "%"
                or name like "%" #{queryName} "%"
                or display_name like "%" #{queryName} "%"
                or email like "%" #{queryName} "%"
                or phone like "%" #{queryName} "%"
                or wechat like "%" #{queryName} "%" )
            </if>
            <if test="filterTag != null and filterTag">
                and id not in (
                select business_id from business_tag
                where
                business_type = 3
                and tag_id = ( select id from tag where tag_key = #{FILTER_SYSTEM_TAG} )
                )
            </if>
            and is_active = true
        </where>
        order by create_time
    </select>

    <select id="queryByTagKeys" resultMap="BaseResultMap">
        select * from user where id in (
          select business_id from business_tag where business_type = 3
          and tag_id in
            ( select id from tag where tag_key in
              <foreach open="(" item="tagKey" separator="," close=")"
                 collection="tagKeys">#{tagKey}
              </foreach>
            )
        )
    </select>

    <select id="queryEmployeeResignPageByParam" parameterType="com.baiyi.opscloud.domain.param.user.UserParam$EmployeeResignPageQuery"
            resultMap="BaseResultMap">
        select * from user
        <where>
            -- 排除无效用户
            is_active = true
            <if test="queryName != null and queryName != ''">
            and ( username like "%" #{queryName} "%"
                or `name` like "%" #{queryName} "%"
                or display_name like "%" #{queryName} "%"
                or email like "%" #{queryName} "%"
                or phone like "%" #{queryName} "%"
                or wechat like "%" #{queryName} "%" )
            </if>
            -- 数据源资产（钉钉用户）未关联
            and id not in (
              select business_id from business_asset_relation
              where
              asset_type = 'DINGTALK_USER'
              and business_type = #{businessType}
            )
            -- 排除系统标签用户
            and id not in (
              select business_id from business_tag
              where
              business_type = #{businessType}
              and tag_id = ( select id from tag where tag_key = #{FILTER_SYSTEM_TAG} ) )
        </where>
        order by create_time
    </select>

</mapper>