<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.UserCredentialMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.UserCredential">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="instance_uuid" jdbcType="VARCHAR" property="instanceUuid" />
    <result column="credential_type" jdbcType="INTEGER" property="credentialType" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime" />
    <result column="fingerprint" jdbcType="VARCHAR" property="fingerprint" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>

</mapper>