<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.WorkOrderTicketEntryMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.WorkOrderTicketEntry">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="work_order_ticket_id" jdbcType="INTEGER" property="workOrderTicketId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="instance_uuid" jdbcType="CHAR" property="instanceUuid"/>
        <result column="business_type" jdbcType="INTEGER" property="businessType"/>
        <result column="business_id" jdbcType="INTEGER" property="businessId"/>
        <result column="entry_status" jdbcType="INTEGER" property="entryStatus"/>
        <result column="entry_key" jdbcType="VARCHAR" property="entryKey"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="result" jdbcType="LONGVARCHAR" property="result"/>
    </resultMap>
</mapper>