<div class="form-group">
    <div style="text-align:center;">
        <button class="btn btn-xs" ng-show="workflowTodo.todoStatus == 0 && workflowTodo.todoPhase == 0"
                style="margin-right: 25px; background-color: green; color: white;"
                ng-click="saveTodo()">
            <i class="fa fa-spin fa-spinner" ng-show="btnSaveing"></i>
            <i class="glyphicon glyphicon-ok" ng-show="!btnSaveing"></i>保存
        </button>
        <button class="btn btn-xs" ng-show="todoDetail.todoStatus != 0"
                style="background-color: #ff8700; color: white;"
                ng-click="closeModal()">关闭
        </button>
    </div>
</div>

<div ng-if="alert.type != ''">
    <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
</div>