videogular,
videogular.audio vg-controls #controls-container{
  background-color: inherit !important;
}
videogular vg-controls #controls-container{
  opacity: 1 !important;
  filter: none !important;
}

videogular vg-controls{
  top: auto !important;
  bottom: 0;
}

videogular vg-video{
  font-size: 0;
  height: auto !important;
}

videogular vg-poster-image img{
  width: 100% !important;
}

videogular.audio .iconButton,
videogular.audio vg-timedisplay {
  color: inherit !important;
}

videogular .iconButton {
  font-family: 'FontAwesome' !important;
}

videogular vg-timedisplay{
  font-family: inherit !important;
  font-size: inherit !important;  
}

videogular vg-scrubbar > div{
  position: relative;
}

videogular vg-title{
  position: absolute;
  width: 100%;
  line-height: 50px;
  padding: 0 10px;
}

videogular vg-button{
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

videogular .iconButton:focus {
  border-width: 0 !important;
}

videogular vg-overlay-play .play:before {
  content: "\f04b" !important;
}

/* Controlbar icons */
videogular vg-play-pause-button .play:before {
  content: "\f04b" !important;
}

videogular vg-play-pause-button .pause:before {
  content: "\f04c" !important;
}

videogular vg-mutebutton .level3:before {
  content: "\f028" !important;
}

videogular vg-mutebutton .level2:before {
  content: "\f028" !important;
}

videogular vg-mutebutton .level1:before {
  content: "\f027" !important;
}

videogular vg-mutebutton .level0:before {
  content: "\f027" !important;
}

videogular vg-mutebutton .mute:before {
  content: "\f026" !important;
}

videogular vg-fullscreenButton .enter:before {
  content: "\f065" !important;
}

videogular vg-fullscreenButton .exit:before {
  content: "\f066" !important;
}

.videogular-container.audio{
  height: 50px;
}
