<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.AuthResourceMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.AuthResource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="need_auth" jdbcType="BIT" property="needAuth"/>
        <result column="ui" jdbcType="BIT" property="ui"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <!--  查询角色已绑定资源-->
    <select id="queryRoleBindResourceByParam"
            parameterType="com.baiyi.opscloud.domain.param.auth.AuthResourceParam$RoleBindResourcePageQuery"
            resultMap="BaseResultMap">
        select a0.id, a1.group_id, a1.resource_name, a1.comment, a1.need_auth, a1.create_time, a1.update_time
        from auth_role_resource a0
        join auth_resource a1 on a0.resource_id = a1.id
        <where>
            a0.role_id = #{roleId}
            <if test="groupId != null">
                and a1.group_id = #{groupId}
            </if>
        </where>
    </select>

    <!--  查询角色未绑定资源-->
    <select id="queryRoleUnbindResourceByParam"
            parameterType="com.baiyi.opscloud.domain.param.auth.AuthResourceParam$RoleBindResourcePageQuery"
            resultMap="BaseResultMap">
        select * from auth_resource
        <where>
            id not in
            ( select resource_id FROM auth_role_resource WHERE role_id = #{roleId} GROUP BY resource_id )
            and need_auth = 1
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
        </where>
    </select>

</mapper>