<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.DatasourceInstanceAssetRelationMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.DatasourceInstanceAssetRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="instance_uuid" jdbcType="VARCHAR" property="instanceUuid" />
    <result column="source_asset_id" jdbcType="INTEGER" property="sourceAssetId" />
    <result column="target_asset_id" jdbcType="INTEGER" property="targetAssetId" />
    <result column="relation_type" jdbcType="VARCHAR" property="relationType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>