<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcAliyunSlbAclListenerMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcAliyunSlbAclListener">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="slb_acl_id" jdbcType="VARCHAR" property="slbAclId"/>
        <result column="slb_acl_name" jdbcType="VARCHAR" property="slbAclName"/>
        <result column="slb_acl_type" jdbcType="VARCHAR" property="slbAclType"/>
        <result column="slb_acl_listener_port" jdbcType="INTEGER" property="slbAclListenerPort"/>
        <result column="slb_acl_protocol" jdbcType="VARCHAR" property="slbAclProtocol"/>
        <result column="load_balancer_id" jdbcType="VARCHAR" property="loadBalancerId"/>
        <result column="load_balancer_name" jdbcType="VARCHAR" property="loadBalancerName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>