<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcAnsiblePlaybookMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcAnsiblePlaybook">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="playbook_uuid" jdbcType="VARCHAR" property="playbookUuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="use_type" jdbcType="INTEGER" property="useType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="playbook" jdbcType="LONGVARCHAR" property="playbook" />
    <result column="tags" jdbcType="LONGVARCHAR" property="tags" />
    <result column="extra_vars" jdbcType="LONGVARCHAR" property="extraVars" />
    <result column="user_detail" jdbcType="LONGVARCHAR" property="userDetail" />
  </resultMap>

  <select id="queryOcAnsiblePlaybookByParam" parameterType="com.baiyi.opscloud.domain.param.ansible.AnsiblePlaybookParam$PageQuery"
          resultMap="BaseResultMap">
    select * from oc_ansible_playbook
    <where>
      <if test="queryName != null and queryName != ''">
        name like "%" #{queryName} "%"
        or playbook_uuid like "%" #{queryName} "%"
      </if>
    </where>
  </select>

</mapper>