<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcAnsibleScriptMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcAnsibleScript">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="script_uuid" jdbcType="VARCHAR" property="scriptUuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="script_lang" jdbcType="VARCHAR" property="scriptLang" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="use_type" jdbcType="INTEGER" property="useType" />
    <result column="script_lock" jdbcType="INTEGER" property="scriptLock" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="script_content" jdbcType="LONGVARCHAR" property="scriptContent" />
    <result column="user_detail" jdbcType="LONGVARCHAR" property="userDetail" />
  </resultMap>

  <select id="queryOcAnsibleScriptByParam" parameterType="com.baiyi.opscloud.domain.param.ansible.AnsibleScriptParam$PageQuery"
          resultMap="BaseResultMap">
    select * from oc_ansible_script
    <where>
      <if test="queryName != null and queryName != ''">
        name like "%" #{queryName} "%"
        or script_uuid like "%" #{queryName} "%"
        or script_lang like "%" #{queryName} "%"
      </if>
    </where>
  </select>

</mapper>