<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcCloudInstanceTaskMemberMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcCloudInstanceTaskMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="private_ip" jdbcType="VARCHAR" property="privateIp" />
    <result column="public_ip" jdbcType="VARCHAR" property="publicIp" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="zone_id" jdbcType="VARCHAR" property="zoneId" />
    <result column="hostname" jdbcType="VARCHAR" property="hostname" />
    <result column="task_phase" jdbcType="VARCHAR" property="taskPhase" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="retry_count" jdbcType="INTEGER" property="retryCount" />
    <result column="error_code" jdbcType="INTEGER" property="errorCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="error_msg" jdbcType="LONGVARCHAR" property="errorMsg" />
  </resultMap>
</mapper>