<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcCloudInstanceTaskMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcCloudInstanceTask">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cloud_type" jdbcType="INTEGER" property="cloudType"/>
        <result column="template_id" jdbcType="INTEGER" property="templateId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="region_id" jdbcType="VARCHAR" property="regionId"/>
        <result column="create_size" jdbcType="INTEGER" property="createSize"/>
        <result column="task_phase" jdbcType="VARCHAR" property="taskPhase"/>
        <result column="task_status" jdbcType="VARCHAR" property="taskStatus"/>
        <result column="error_msg" jdbcType="VARCHAR" property="errorMsg"/>
        <result column="task_type" jdbcType="INTEGER" property="taskType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="user_detail" jdbcType="LONGVARCHAR" property="userDetail"/>
        <result column="create_instance" jdbcType="LONGVARCHAR" property="createInstance"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <!--  OcCloudInstanceTask queryLastOcCloudInstanceTaskByTemplate(int templateId);-->

    <select id="queryLastOcCloudInstanceTaskByTemplateId"
            resultMap="BaseResultMap">
            select * from oc_cloud_instance_task
            where template_id = #{templateId}
            order by create_time desc limit 1
    </select>

</mapper>