<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcKubernetesApplicationMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcKubernetesApplication">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="server_group_id" jdbcType="INTEGER" property="serverGroupId"/>
        <result column="business_id" jdbcType="INTEGER" property="businessId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryOcKubernetesApplicationByParam"
            parameterType="com.baiyi.opscloud.domain.param.kubernetes.KubernetesApplicationParam$PageQuery"
            resultMap="BaseResultMap">
        select * from  oc_kubernetes_application
        <where>
            <if test="queryName != null and queryName != ''">
                name like "%" #{queryName} "%" or comment like "%" #{queryName} "%"
            </if>
            <if test="serverGroupId != null and serverGroupId > 0">
                and server_group_id = #{serverGroupId}
            </if>
        </where>
        order by replace( name, #{queryName}, '' )
    </select>
</mapper>