<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcKubernetesClusterNamespaceMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcKubernetesClusterNamespace">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cluster_id" jdbcType="INTEGER" property="clusterId"/>
        <result column="namespace" jdbcType="VARCHAR" property="namespace"/>
        <result column="env_type" jdbcType="INTEGER" property="envType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryOcKubernetesClusterNamespaceByParam"
            parameterType="com.baiyi.opscloud.domain.param.kubernetes.KubernetesClusterNamespaceParam$PageQuery"
            resultMap="BaseResultMap">
        select * from oc_kubernetes_cluster_namespace
        <where>
            <if test="clusterId != null and clusterId > 0">
                cluster_id = #{clusterId}
            </if>
            <if test="queryName != null and queryName != ''">
                and ( name like "%" #{queryName} "%" or comment like "%" #{queryName} "%" )
            </if>
        </where>
    </select>

</mapper>