<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcOrgDepartmentMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcOrgDepartment">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="dept_hiding" jdbcType="INTEGER" property="deptHiding"/>
        <result column="dept_type" jdbcType="INTEGER" property="deptType"/>
        <result column="dept_order" jdbcType="INTEGER" property="deptOrder"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryOcOrgDepartmentParam"
            parameterType="com.baiyi.opscloud.domain.param.org.DepartmentParam$PageQuery"
            resultMap="BaseResultMap">
        select * from oc_org_department
        <where>
            <if test="queryName != null and queryName != ''">
                name like "%" #{queryName} "%"
                or comment like "%" #{queryName} "%"
            </if>
        </where>
        order by id, dept_order
    </select>

    <select id="queryFirstLevelDepartmentPage"
            parameterType="com.baiyi.opscloud.domain.param.org.DepartmentParam$PageQuery"
            resultMap="BaseResultMap">
        select * from oc_org_department
        where parent_id = 1
        <if test="queryName != null and queryName != ''">
            and (name like "%" #{queryName} "%"
            or comment like "%" #{queryName} "%")
        </if>
        order by id, dept_order
    </select>


    <select id="queryOcOrgDepartmentByIdList"
            resultMap="BaseResultMap">
        select * from oc_org_department
        where id in
        <foreach close=")" collection="idList" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>