<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcProfileSubscriptionMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcProfileSubscription">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subscription_type" jdbcType="VARCHAR" property="subscriptionType" />
    <result column="server_group_id" jdbcType="INTEGER" property="serverGroupId" />
    <result column="host_pattern" jdbcType="VARCHAR" property="hostPattern" />
    <result column="script_id" jdbcType="INTEGER" property="scriptId" />
    <result column="server_task_id" jdbcType="INTEGER" property="serverTaskId" />
    <result column="execution_time" jdbcType="TIMESTAMP" property="executionTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="vars" jdbcType="LONGVARCHAR" property="vars" />
  </resultMap>

  <select id="queryOcProfileSubscriptionParam" parameterType="com.baiyi.opscloud.domain.param.profile.ProfileSubscriptionParam$PageQuery" resultMap="BaseResultMap">
    select * from oc_profile_subscription
    <where>
      <if test="queryName != null and queryName != ''">
         name like "%" #{queryName} "%" or comment like "%" #{queryName} "%"
      </if>
    </where>
    order by execution_time desc
  </select>

</mapper>