<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.OcTerminalSessionMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.OcTerminalSession">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="session_id" jdbcType="VARCHAR" property="sessionId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="remote_addr" jdbcType="VARCHAR" property="remoteAddr"/>
        <result column="is_closed" jdbcType="BIT" property="isClosed"/>
        <result column="close_time" jdbcType="TIMESTAMP" property="closeTime"/>
        <result column="term_hostname" jdbcType="VARCHAR" property="termHostname"/>
        <result column="term_addr" jdbcType="VARCHAR" property="termAddr"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryTerminalSessionByParam" parameterType="com.baiyi.opscloud.domain.param.term.TermSessionParam$PageQuery"
            resultMap="BaseResultMap">
        select * from oc_terminal_session
        <where>
            <if test="username != null and username != ''">
                username like "%" #{username} "%"
            </if>
            <if test="isClosed != null">
                and is_closed = #{isClosed}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>