<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.ServerGroupMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.ServerGroup">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="server_group_type_id" jdbcType="INTEGER" property="serverGroupTypeId"/>
        <result column="allow_order" jdbcType="BIT" property="allowOrder"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryServerGroupByParam"
            parameterType="com.baiyi.opscloud.domain.param.server.ServerGroupParam$ServerGroupPageQuery"
            resultMap="BaseResultMap">
        select * from server_group
        <where>
            <if test="name != null and name != ''">
                and name like "%" #{name} "%"
            </if>
            <if test="serverGroupTypeId != null">
                and server_group_type_id = #{serverGroupTypeId}
            </if>
            <if test="allowOrder != null">
                and allow_order = #{allowOrder}
            </if>
        </where>
        order by replace( name, #{name}, '' ), create_time
    </select>

    <select id="queryUserPermissionServerGroupByParam"
            parameterType="com.baiyi.opscloud.domain.param.user.UserBusinessPermissionParam$UserBusinessPermissionPageQuery"
            resultMap="BaseResultMap">
        select * from server_group
        where
        <choose>
            <when test="authorized">
                id in ( select business_id from user_permission where business_type = #{businessType} and user_id = #{userId})
            </when>
            <otherwise>
                id not in ( select business_id from user_permission where business_type =  #{businessType} and user_id = #{userId})
            </otherwise>
        </choose>
        <if test="queryName != null and queryName != ''">
            and name like "%" #{queryName} "%"
        </if>
        order by create_time
    </select>

    <select id="queryUserServerGroupTreeByParam"
            parameterType="com.baiyi.opscloud.domain.param.server.ServerGroupParam$UserServerTreeQuery"
            resultMap="BaseResultMap">
        select * from server_group
        <where>
            <if test="!isAdmin">
                id in ( select business_id from user_permission where business_type = #{businessType} and user_id = #{userId} )
            </if>
            <if test="name != null and name != ''">
                and name like "%" #{name} "%"
            </if>
            <if test="serverGroupTypeId != null and serverGroupTypeId > 0">
                and server_group_type_id = #{serverGroupTypeId}
            </if>
        </where>
        order by replace( name, #{name}, '' )
    </select>

</mapper>