<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.UserPermissionMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.UserPermission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="business_id" jdbcType="INTEGER" property="businessId"/>
        <result column="business_type" jdbcType="INTEGER" property="businessType"/>
        <result column="permission_role" jdbcType="VARCHAR" property="permissionRole"/>
        <result column="rate" jdbcType="INTEGER" property="rate"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="statTotal" resultType="int">
        select count(distinct(user_id))
        from user_permission
        where business_type = #{businessType}
    </select>

</mapper>