<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.opscloud.WorkEventMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.opscloud.WorkEvent">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="work_role_id" jdbcType="INTEGER" property="workRoleId"/>
        <result column="work_item_id" jdbcType="INTEGER" property="workItemId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="work_event_time" jdbcType="TIMESTAMP" property="workEventTime"/>
        <result column="work_event_cnt" jdbcType="INTEGER" property="workEventCnt"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>