<div class="modal-header">
    <h3 class="modal-title">配置订阅信息告警</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">


        <div class="form-group">
            <div class="col-md-12">
                <label class="col-lg-2 control-label">GID</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="group.groupId" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>备注</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="简短备注" ng-model="group.remark">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label class="col-lg-2 control-label">告警通知</label>
                <div class="col-lg-8">
                    <label style="margin-top:5px;">
                        <input type="checkbox" ng-model="group.notice">
                        <span class="label"
                              style="margin-left: 10px; background-color: #00a8f3; color: white;">启用告警</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="group.notice">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>堆积量阈值</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control"
                           uib-popover-html="'堆积量阈值,配置0则禁用'" popover-trigger="'mouseenter'"
                           placeholder="建议配置大于10000" ng-model="group.totalDiff">
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-lg-4 control-label">消费延迟阈值</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control"
                           uib-popover-html="'消费延迟阈值（单位ms）,配置0则禁用'" popover-trigger="'mouseenter'"
                           placeholder="单位ms，建议配置值10000" ng-model="group.delayTime">
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="group.notice">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>是否在线</label>
                <div class="col-lg-8">
                    <label style="margin-top:5px;">
                        <input type="checkbox" ng-model="group.online"><b style="margin-left:10px;">启用</b>
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>订阅一致性</label>
                <div class="col-lg-8">
                    <label style="margin-top:5px;">
                        <input type="checkbox" ng-model="group.rebalanceOK"><b style="margin-left:10px;">启用</b>
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div style="text-align:center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="saveGroup()"><span
                        class="glyphicon glyphicon-ok"></span>保存
                </button>
            </div>
        </div>
    </form>
    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>