# 此配置文件对机密信息加密 online@baiyi

jdbc_url=jdbc:mysql://127.0.0.1:3306/opscloud-pre?useUnicode=true&characterEncoding=utf8&autoReconnect=true
jdbc_user=opscloud
jdbc_password=opscloud

# 启用Jumpserver支持
jumpserver_jdbc_url=jdbc:mysql://127.0.0.1:3306/jumpserver?useUnicode=true&characterEncoding=utf8&autoReconnect=true
jumpserver_jdbc_user=jms
jumpserver_jdbc_password=jms
jumpserver.host=https://jms.ops.cn
jumpserver.user=jms
jumpserver.passwd=jms
coco.host=oc.ops.cn

# AliyunAK配置
aliyun.access.key=AK
aliyun.access.secret=AC
# 查询的区域:华东1,香港,美国西部1 ... 按此格式添加  regionId1,regionId2,regionId3 ...
aliyun.region.id=cn-hangzhou,cn-hongkong,us-west-1,cn-shanghai
aliyun.ecs.public.network.id=10
# 经典网络SecurityGroupId
aliyun.ecs.classic.security.group.id=-

# LDAP配置，建议使用apacheDS,用户dn:cn=user1,ou=users,ou=system
ldap.url=ldap://127.0.0.1:10389
ldap.base.dn=ou=system
# 管理员账户，用户账户管理
ldap.manager.dn=uid=admin,ou=system
ldap.manager.passwd=secret
ldap.group.dn=ou=groups
ldap.user.dn=ou=users
ldap.user.id=cn
ldap.user.object=inetorgperson
ldap.group.object=groupOfUniqueNames
ldap.group.member=uniqueMember

# LDAP多从服务器配置（同步变更数据，用于3方认证）
ldap.slave.url=ldap://ldap-2.ops.cn:10389,ldap://ldap-3.ops.cn:10389


# 配置文件环境: dev=开发环境，online=线上环境
invoke.env=online

# redis配置
redis.host=127.0.0.1
redis.port=6379
# 没有密码可留空
redis.pwd=

# 邮箱配置，通知中心使用
email.host=smtp.exmail.qq.com
email.user=ops@ops.com
email.passwd=opscloud

# 是否开启定时任务，集群部署使用
task.open=true

# 超级管理员密码
admin.passwd=opscloud

# 外部url
external.url=https://oc.ops.cn

# keystore目录
keystore.filePath=/data/www/data/keystore/

# ansible配置
ansible.bin=/usr/bin/ansible
ansible.playbook.bin=/usr/bin/ansible-playbook
ansible.scripts.path=/data/www/data/scrips
# configPlaybook: ${ansible.logs.path}/configPlaybook
# copyLog: ${ansible.logs.path}/copyLogs
ansible.logs.path=/data/www/data/logs

# ss服务列表 域名:说明 多服务器用,分割 例如  ss-1.a.com:说明1,ss-2.a.com:说明2
ss.servers=hz-ss3.ops.cn:prod,hk-ss1.ops.cn:hongkong

# gitlab配置(必须支持v4版本的API)
gitlab.url=http://gitlab.ops.cn:80
gitlab.token=GITLAB_TOKEN


# jenkins配置
jenkins.url=http://ci.ops.cn
jenkins.user=admin
# jenkins登陆password或Token(推荐)
jenkins.token=JENKINS_TOKEN

# dns.public.conf
# 用户读取头部全局配置文件
dns.public.conf=/data/www/data/dnsmasq/dnsmasq-public.conf
# 写入的配置文件
dns.conf=/data/www/data/dnsmasq/dnsmasq.conf

# Zabbix配置
zabbix.url=http://zabbix.ops.cn/api_jsonrpc.php
zabbix.user=admin
zabbix.passwd=ZABBIX_PASSWORD

# Sonar暂未启用
sonar.host=http://sonar.ops.cn
sonar.token=SONAR_TOKEN

# VCSA配置（废弃）
vcsa.host=
vcsa.user=
vcsa.passwd=

# 内部系统不用填写
gateway.admin.test.host=http://gateway-admin.test.ops.cn
gateway.admin.test.ak=AK
gateway.admin.pre.host=http://gateway-admin.test.ops.cn
gateway.admin.pre.ak=AK
gateway.admin.prod.host=http://gateway-admin.test.ops.cn
gateway.admin.prod.ak=AK

# 不用填写
zookeeper.test.server=192.168.2.40:2181
# dubbo直连配置文件生成路径
dubbo.resolve.path=/data/www/data/dubbo-resolve