<style>
    .projectName .popover {
        max-width: 400px !important;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">
        <b style="color: #286090">新增标签</b>
    </h3>
</div>
<div class="modal-body">

    <form class="bs-example form-horizontal">
        <div class="wrapper-md">
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>标签名称
                    </label>
                    <div class="input-group" style="padding-left: 15px; padding-right: 15px">
                        <input type="text" class="form-control" placeholder="任务名称"
                               ng-model="label.labelName">
                        <!--<div class="input-group-btn">-->
                            <!--<button class="btn btn-default"-->
                                    <!--ng-click="checkJobName(jobItem.jobName)"><i-->
                                    <!--class="glyphicon glyphicon-check pull-right"></i></button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">说明</label>
                <div class="col-lg-10">
                            <textarea class="form-control" cols="3" placeholder="简短描述"
                                      ng-model="label.content"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div style="text-align:center;">
                    <div style="text-align:center;">
                        <button ng-click="addLabel()"
                                class="btn btn-xs"
                                style="margin-left: 5px; background-color: #2e6da4; color: white;">
                            <span class="glyphicon glyphicon-ok"></span>保存
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div>
        <div ng-include="'tpl/modal/public/pub_alert.html'"></div>
    </div>
</div>