<style>

    .commit .popover {
        max-width: 200px !important;
    }

    .ace_editor {
        height: 500px;
    }

</style>
<div class="modal-header">
    <h3 class="modal-title">
        <b style="color: #286090">持续集成-Android自动构建</b>
    </h3>
</div>
<div class="modal-body">

    <form class="bs-example form-horizontal">

        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

            <uib-tabset>
                <uib-tab index="0" heading="执行构建">

                    <div style="font-size:1em;">&nbsp;</div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>任务名称
                            </label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="仓库地址" readonly
                                       ng-model="jobItem.jobName">
                            </div>
                        </div>
                    </div>

                    <div class="form-group build-params">
                        <label class="col-lg-2 control-label">仓库地址</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="仓库地址" readonly
                                   ng-model="appItem.sshUrl">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">
                                <!--HostPattern-->
                                <button ng-click="showCommit()"
                                        class="btn btn-xs"
                                        style="background-color: #2b669a; color: white;"
                                        uib-popover-html="'查看变更记录'"
                                        popover-trigger="'mouseenter'">
                                    <span class="glyphicon glyphicon-search"></span>分支
                                </button>
                            </label>

                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.branch"
                                        ng-options="branch.name as branch.name for branch in jobItem.branchList">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group commit" ng-show="commitList.length != 0">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label">变更记录</label>
                            <div class="col-md-10" style="box-shadow: 0 0 5px #ddd;padding: 10px">
                                <div style="margin-top: 5px" class="col-md-12" ng-repeat="commit in commitList">
                                    <b style=" color: #777;"
                                       uib-popover-html="commit.id"
                                       popover-trigger="'mouseenter'">{{commit.message}}</b>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>构建环境</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.androidBuild.env"
                                        ng-options="env.code as env.name for env in androidBuildEnv">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>构建渠道</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.androidBuild.productFlavor"
                                        ng-options="pf.code as pf.name for pf in androidBuildProductFlavor">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>版本名称
                            </label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="默认值:release-构建编号"
                                       ng-model="jobItem.versionName">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">版本说明</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" cols="3" placeholder="简短描述"
                                      ng-model="jobItem.versionDesc"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div style="text-align:center;">
                            <div style="text-align:center;">

                                <button ng-click="buildJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #20a03f; color: white;">
                                    <span class="icon icon-control-play"></span>执行
                                </button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="构建参数" ng-show="jobItem.id != 0">

                    <div style="font-size:1em;">&nbsp;</div>

                    <div ui-ace="aceOption" ng-readonly=true ng-model="jobItem.paramsYaml" class="ace_editor"></div>

                </uib-tab>
                <uib-tab index="2" heading="历史任务">

                    <div style="font-size:1em;">&nbsp;</div>
                    <div class="panel-body">
                        <div>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td class="col-md-1">编号</td>
                                    <td class="col-md-10">任务详情</td>
                                    <td class="col-md-1">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pageData">
                                    <td>
                                        <b style="color: #c9302c" ng-if="item.buildNumber ==-1">队列</b>
                                        <b style="color: #286090" ng-if="item.buildNumber > 0">{{item.buildNumber}}</b>
                                    </td>
                                    <td>
                                        <div ng-include="'tpl/modal/ci/include/build_details.html'"></div>
                                    </td>
                                    <td>
                                        <button ng-click="rebuildJob(item.id)"
                                                class="btn btn-xs"
                                                ng-disabled="butSaveDisabled"
                                                style="background-color: #20a03f; color: white;">
                                            <i class="fa fa-spin fa-spinner" ng-show="butBuildSpinDisabled"></i>
                                            <i class="icon icon-control-play" ng-show="!butBuildSpinDisabled"></i>执行
                                        </button>
                                        <button ng-click="checkBuildDetail(item.id)"
                                                class="btn btn-xs"
                                                style="margin-top:5px; background-color: #ff8700; color: white;">
                                            <i class="glyphicon glyphicon-refresh"></i>校验
                                        </button>
                                        <!--margin-left: 5px;-->
                                        </br>
                                        <a class="btn btn-xs"
                                           style="margin-top:5px; background-color: #737373; color: white;"
                                           href="{{item.console}}"
                                           target="_blank"><i class="fa fa-terminal"></i>日志</a >
                                        </br>
                                        <a class="btn btn-xs" ng-show="item.buildPhase == 'FINALIZED' && item.buildStatus == 'SUCCESS'"
                                           style="margin-top:5px; background-color: #8ec165; color: white;"
                                           href="#/access/androidArtifact?buildId={{item.id}}"
                                           target="_blank"><i class="fa fa-android"></i>下载</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <ul style="margin: 0px; float: right;" uib-pagination total-items="totalItems"
                                            ng-model="currentPage" items-per-page="pageLength" max-size="10"
                                            ng-change="pageChanged(currentPage)" previous-text="&lsaquo;"
                                            next-text="&rsaquo;"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

    </form>

    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>