<style>

    .commit .popover {
        max-width: 200px !important;
    }

    .ace_editor {
        height: 500px;
    }

</style>
<div class="modal-header">
    <h3 class="modal-title">
        <b style="color: #286090">持续集成-自动化测试</b>
    </h3>
</div>
<div class="modal-body">

    <form class="bs-example form-horizontal">

        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

            <uib-tabset>
                <uib-tab index="0" heading="执行构建">

                    <div style="font-size:1em;">&nbsp;</div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>任务名称
                            </label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="仓库地址" readonly
                                       ng-model="jobItem.jobName">
                            </div>
                        </div>
                    </div>

                    <div class="form-group build-params">
                        <label class="col-lg-2 control-label">仓库地址</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="仓库地址" readonly
                                   ng-model="appItem.sshUrl">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">
                                <!--HostPattern-->
                                <button ng-click="showCommit()"
                                        class="btn btn-xs"
                                        style="background-color: #2b669a; color: white;"
                                        uib-popover-html="'查看变更记录'"
                                        popover-trigger="'mouseenter'">
                                    <span class="glyphicon glyphicon-search"></span>分支
                                </button>
                            </label>

                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.branch"
                                        ng-options="branch.name as branch.name for branch in jobItem.branchList">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group commit" ng-show="commitList.length != 0">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label">变更记录</label>
                            <div class="col-md-10" style="box-shadow: 0 0 5px #ddd;padding: 10px">
                                <div style="margin-top: 5px" class="col-md-12" ng-repeat="commit in commitList">
                                    <b style=" color: #777;"
                                       uib-popover-html="commit.id"
                                       popover-trigger="'mouseenter'">{{commit.message}}</b>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div style="text-align:center;">
                            <div style="text-align:center;">

                                <button ng-click="buildJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #20a03f; color: white;">
                                    <span class="icon icon-control-play"></span>执行
                                </button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="构建参数" ng-show="jobItem.id != 0">

                    <div style="font-size:1em;">&nbsp;</div>

                    <div ui-ace="aceOption" ng-readonly=true ng-model="jobItem.paramsYaml" class="ace_editor"></div>

                </uib-tab>
                <uib-tab index="2" heading="历史任务">

                    <div style="font-size:1em;">&nbsp;</div>
                    <div class="panel-body">
                        <div>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td class="col-md-1">编号</td>
                                    <td class="col-md-10">任务详情</td>
                                    <td class="col-md-1">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pageData">
                                    <td>
                                        <b style="color: #c9302c" ng-if="item.buildNumber ==-1">队列</b>
                                        <b style="color: #286090" ng-if="item.buildNumber > 0">{{item.buildNumber}}</b>
                                    </td>
                                    <td>
                                        <span ng-show="item.badgeIcon != ''"><img src="{{item.badgeIcon}}"></span>
                                        <span class="pull pull-right" style="margin-left:5px;">
                                            {{(item.gmtModify == null || item.gmtModify == '') ? item.gmtCreate : item.gmtModify}}
                                        </span>
                                        <b class="pull pull-right" style="color: #286090">{{item.displayName}}</b>
                                        <div style="margin-top:5px;width: 100%; height: 1px; border: 0.5px solid #eee;"></div>

                                        <div style="margin-top:5px;"></div>

                                        <div>
                                            <span style="background-color: #777; color: white;" class="col-md-2 label">Parameters</span>
                                            <div class="col-md-12" style="margin-top:5px;"
                                                 ng-repeat="param in item.jobParams.params">
                                                <li>
                                                    <b style="color: #777" uib-popover-html="'参数名称'"
                                                       popover-trigger="'mouseenter'">{{param.name}}</b>
                                                    <b style="margin-left:5px; color: #20a03f;">{{param.value}}</b>
                                                </li>
                                            </div>
                                        </div>


                                        <div>
                                            <span style="background-color: #777; color: white;" class="col-md-2 label">Changes</span>
                                            <div class="col-md-12" style="margin-top:5px;"
                                                 ng-repeat="commit in item.commitList">
                                                <li>
                                                    <b uib-popover-html="commit.commit" class="commit"
                                                       popover-trigger="'mouseenter'">{{commit.message}}</b>
                                                </li>
                                            </div>
                                        </div>

                                        <div>
                                            <span style="background-color: #777; color: white;" class="col-md-2 label">Phases</span>
                                            <i style="color: #777;" class="fa fa-bell pull-right"
                                               uib-popover-html="'通知'" popover-trigger="'mouseenter'"
                                               ng-show="item.dingtalk == true"></i>
                                            <div class="col-md-12" style="margin-top:5px;">
                                                <li ng-show="item.timeQueue != 0">
                                                    <b>队列时间消耗:{{item.timeQueue}}/s</b>
                                                </li>
                                                <li>
                                                    <b>构建时间消耗:{{item.timeBuild}}/s</b>
                                                </li>
                                            </div>

                                        </div>


                                        <div ng-show="false">
                                            <span style="background-color: #777; color: white;" class="col-md-2 label">Build Artifacts</span>
                                            <div class="col-md-12" style="margin-top:5px;"
                                                 ng-repeat="artifact in item.artifactList">
                                                <li>
                                                    <span style="color: #777;"
                                                          ng-show="artifact.ossPath != ''"
                                                          uib-popover-html="'OSS://opscloud'"
                                                          popover-trigger="'mouseenter'"
                                                          class="fa fa-codepen">OSS</span>
                                                    <span ng-show="artifact.badge != ''" uib-popover-html="'制品'"
                                                          popover-trigger="'mouseenter'"><img
                                                            src="{{artifact.badge}}"></span>
                                                    <!--<b style="color: #2b669a;"-->
                                                    <!--ng-show="artifact.ossPath != ''"-->
                                                    <!--uib-popover-html="'制品路径'"-->
                                                    <!--popover-trigger="'mouseenter'">{{artifact.ossPath}}</b>-->

                                                    <!--<b style="color: #777;"-->
                                                    <!--ng-show="artifact.ossPath != ''"-->
                                                    <!--class="pull-right">{{artifact.size}}</b>-->
                                                    <span style="color: #2b669a;"
                                                          ng-show="artifact.ossPath == ''"
                                                          uib-popover-html="'制品'"
                                                          popover-trigger="'mouseenter'">
                                                   <i class="fa fa-dropbox"></i>{{artifact.artifactName}}</span>
                                                </li>
                                            </div>
                                        </div>


                                    </td>
                                    <td>
                                        <button ng-click="rebuildJob(item.id)"
                                                class="btn btn-xs"
                                                ng-disabled="butSaveDisabled"
                                                style="background-color: #ff8700; color: white;">
                                            <i class="fa fa-spin fa-spinner" ng-show="butBuildSpinDisabled"></i>
                                            <i class="icon icon-control-play" ng-show="!butBuildSpinDisabled"></i>执行
                                        </button>
                                        <!--margin-left: 5px;-->
                                        </br>
                                        <a class="btn btn-xs"
                                           style="margin-top:5px; background-color: #737373; color: white;"
                                           href="{{item.console}}"
                                           target="_blank"><i class="fa fa-terminal"></i>日志</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <ul style="margin: 0px; float: right;" uib-pagination total-items="totalItems"
                                            ng-model="currentPage" items-per-page="pageLength" max-size="10"
                                            ng-change="pageChanged(currentPage)" previous-text="&lsaquo;"
                                            next-text="&rsaquo;"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

    </form>

    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>