<style>
    .artifactDetails .popover {
        max-width: 400px !important;
    }
    .ace_editor {
        height: 700px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">
        <b style="color: #286090">持续集成-发布(Deployment)</b>
    </h3>
</div>
<div class="modal-body">

    <form class="bs-example form-horizontal">

        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

            <uib-tabset>
                <uib-tab index="0" heading="执行部署">

                    <div style="font-size:1em;">&nbsp;</div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>任务名称
                            </label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="JenkinsJob名称" readonly
                                       ng-model="jobItem.deployJobName">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>服务器组
                            </label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="服务器组名称" readonly
                                       ng-model="appItem.serverGroupName">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6" ng-show="hostPatternList != null && hostPatternList.length != 0">
                            <label class="col-lg-4 control-label">
                                <!--HostPattern-->
                                <button ng-click="showHostPattern()"
                                        class="btn btn-xs"
                                        style="background-color: #2b669a; color: white;"
                                        uib-popover-html="'查看详情'"
                                        popover-trigger="'mouseenter'">
                                    <span class="glyphicon glyphicon-search"></span>主机组分组
                                </button>
                            </label>
                            <div class="col-lg-8">
                                <select class="form-control" ng-model="nowHostPattern.selected"
                                        ng-options="hp as hp.hostPattern for hp in hostPatternList" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowHostPattern">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label">服务器列表</label>
                            <div class="col-md-10" style="box-shadow: 0 0 5px #ddd;padding: 10px">
                                <div class="col-md-6" ng-repeat="server in nowHostPattern.selected.servers">
                                    <b style="margin-left: 5px; color: #286090"
                                       uib-popover-html="server.deployVersionInfo"
                                       popover-trigger="'mouseenter'">
                                        {{server.serverName}}-{{server.serialNumber}}&nbsp;{{server.insideIp}}&nbsp;{{server.ciBuildDO.versionName}}</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>构件名称</label>
                            <div class="col-lg-8">
                                <ui-select ng-model="nowArtifact.selected" theme="bootstrap"
                                           ng-change="changeServerGroup()">
                                    <ui-select-match placeholder="搜索构件编号......">{{$select.selected.versionName}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="queryArtifact($select.search)" refresh-dalay="0"
                                                       repeat="item in buildArtifactList | filter: $select.search">
                                        <div ng-bind-html="item.versionName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group artifactDetails" ng-show="nowArtifact.selected != null">
                        <div ng-include="'tpl/modal/ci/include/artifact_details.html'"></div>
                    </div>

                    <!--<div class="form-group artifactDetails" ng-show="nowArtifact.selected != null">-->
                        <!--<div class="col-md-12">-->
                            <!--<label class="col-md-2 control-label">构件详情</label>-->
                            <!--<div class="col-md-10" style="box-shadow: 0 0 5px #ddd;padding: 10px">-->
                                <!--<div style="margin-top: 5px" class="col-md-12"-->
                                     <!--ng-repeat="commit in nowArtifact.selected.commitList">-->
                                     <!--<span style="background-color: #777777; color: white;"-->
                                           <!--uib-popover-html="commit.commit"-->
                                           <!--popover-trigger="'mouseenter'"-->
                                           <!--class="label"><i class="fa fa-share-alt"></i>{{commit.message}}</span>-->
                                <!--</div>-->

                                <!--<div style="margin-top: 5px" class="col-md-12"-->
                                     <!--ng-repeat="param in nowArtifact.selected.jobParams.params">-->
                                     <!--<span style="background-color: #286090; color: white;"-->
                                           <!--uib-popover-html="'参数名称'"-->
                                           <!--popover-trigger="'mouseenter'"-->
                                           <!--class="label">-->
                                                   <!--<i ng-show="param.name =='branch'" class="fa fa-code-fork"></i>-->
                                                   <!--<i ng-show="param.name =='sshUrl'" class="fa fa-git"></i>{{param.name}}</span>-->
                                    <!--<b style="color: #20a03f;">{{param.value}}</b>-->
                                <!--</div>-->

                                <!--<div style="margin-top: 5px" class="col-md-12">-->

                                    <!--<span style="background-color: #c9302c; color: white;"-->
                                          <!--ng-show="artifact.ossPath != ''"-->
                                          <!--uib-popover-html="'OSS://opscloud'"-->
                                          <!--popover-trigger="'mouseenter'"-->
                                          <!--class="label"><i class="fa fa-codepen"></i>OSS</span>-->

                                    <!--<span style="background-color: #ff5f87; color: white;"-->
                                          <!--ng-show="artifact.ossPath != ''"-->
                                          <!--uib-popover-html="'构件路径'"-->
                                          <!--popover-trigger="'mouseenter'"-->
                                          <!--class="label">{{nowArtifact.selected.artifactList[0].ossPath}}</span>-->

                                    <!--<span style="background-color: #737373; color: white;"-->
                                          <!--ng-show="artifact.ossPath != ''"-->
                                          <!--class="label">{{nowArtifact.selected.artifactList[0].size}}</span>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <div style="text-align:center;">
                            <div style="text-align:center;">
                                <button class="btn btn-xs"
                                        style="margin-right: 5px; background-color: #ff5f87; color: white;"
                                        ng-click="deployJob()">
                                    <span class="icon icon-cloud-upload"></span>部署
                                </button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="构建参数" ng-show="jobItem.id != 0">
                    <div style="font-size:1em;">&nbsp;</div>

                    <div ui-ace="aceOption" ng-readonly=true ng-model="jobItem.paramsYaml" class="ace_editor"></div>
                    <!--<div style="margin-top: 5px;">-->
                        <!--<table class="table table-hover table-bordered table-striped"-->
                               <!--ng-show="jobItem.paramList != null && jobItem.paramList.length != 0">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--&lt;!&ndash;class="col-md-10"&ndash;&gt;-->
                                <!--<td class="col-md-3">参数</td>-->
                                <!--<td>值</td>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="param in jobItem.paramList">-->
                                <!--<td>-->
                                      <!--<span style="background-color: #286090; color: white;"-->
                                            <!--uib-popover-html="{{param.content}}"-->
                                            <!--popover-trigger="'mouseenter'"-->
                                            <!--class="label">-->
                                                   <!--<i ng-show="param.paramName =='branch'" class="fa fa-code-fork"></i>-->
                                                   <!--<i ng-show="param.paramName =='sshUrl'" class="fa fa-git"></i>{{param.paramName}}</span>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="label" style="background-color: #20a03f; color: white;">{{param.paramValue}}</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->

                </uib-tab>
                <uib-tab index="2" heading="部署历史">

                    <div style="font-size:1em;">&nbsp;</div>
                    <div class="panel-body">
                        <div>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <td class="col-md-1">编号</td>
                                    <td class="col-md-10">任务详情</td>
                                    <td class="col-md-1">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pageData">
                                    <td>
                                        <b style="color: #c9302c" ng-if="item.buildNumber ==-1">队列</b>
                                        <b style="color: #286090" ng-if="item.buildNumber > 0">{{item.buildNumber}}</b>
                                    </td>
                                    <td>
                                        <!--部署细节-->
                                        <div ng-include="'tpl/modal/ci/include/deploy_details.html'"></div>
                                    </td>
                                    <td>
                                        <button ng-click="rebuildJob(item.id)"
                                                class="btn btn-xs"
                                                ng-disabled="butSaveDisabled"
                                                style="background-color: #ff8700; color: white;">
                                            <i class="fa fa-spin fa-spinner" ng-show="butBuildSpinDisabled"></i>
                                            <i class="icon icon-control-play" ng-show="!butBuildSpinDisabled"></i>执行
                                        </button>
                                        <!--margin-left: 5px;-->
                                        </br>
                                        <a class="btn btn-xs"
                                           style="margin-top:5px; background-color: #737373; color: white;"
                                           href="{{item.console}}"
                                           target="_blank"><i class="fa fa-terminal"></i>日志</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <ul style="margin: 0px; float: right;" uib-pagination total-items="totalItems"
                                            ng-model="currentPage" items-per-page="pageLength" max-size="10"
                                            ng-change="pageChanged(currentPage)" previous-text="&lsaquo;"
                                            next-text="&rsaquo;"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

    </form>

    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>