<style>
    .build-params .popover {
        max-width: 400px !important;
    }

    .projectName .popover {
        max-width: 400px !important;
    }

    .ace_editor {
        height: 500px;
    }
</style>


<div class="modal-header">
    <h3 class="modal-title">
        <b style="color: #286090">持续集成任务配置</b>
    </h3>
</div>
<div class="modal-body">

    <form class="bs-example form-horizontal">

        <div class="wrapper-md">
            <!-- toaster directive -->
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

            <uib-tabset>
                <uib-tab index="0" heading="任务配置">

                    <div style="font-size:1em;">&nbsp;</div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>构建任务
                            </label>
                            <div class="input-group" style="padding-left: 15px; padding-right: 15px">
                                <input type="text" class="form-control" placeholder="任务名称" ng-model="jobItem.jobName">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="checkJobName(jobItem.jobName)">
                                        <i class="glyphicon glyphicon-check pull-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>任务模版</label>
                            <div class="col-lg-8">
                                <ui-select ng-model="nowTemplate.selected" theme="bootstrap" ng-change="setTemplate()">
                                    <ui-select-match placeholder="搜索模版名称......">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="queryTemplate($select.search)" refresh-dalay="0"
                                                       repeat="item in templateList | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>模版版本</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="模版版本" readonly required
                                       ng-model="jobItem.jobVersion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group build-params">
                        <label class="col-lg-2 control-label">仓库地址</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="仓库地址" readonly
                                   ng-model="appItem.sshUrl">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">分支</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.branch"
                                        ng-options="branch.name as branch.name for branch in jobItem.branchList">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<div class="col-md-6">-->
                        <!--<label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>回滚类型</label>-->
                        <!--<div class="col-lg-8">-->
                        <!--<select class="form-control" ng-model="jobItem.rollbackType"-->
                        <!--ng-options="rollback.code as rollback.name for rollback in rollbackType">-->
                        <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>构建类型</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.ciType"
                                        ng-options="ci.code as ci.name for ci in ciType">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>环境类型</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.envType"
                                        ng-options="jobEnv.code as jobEnv.name for jobEnv in jobEnvType">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span
                                    style="color: #ec2121;">*</span>AutoBuild</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.autoBuild"
                                        ng-options="autoBuild.code as autoBuild.name for autoBuild in autoBuildType">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span
                                    style="color: #ec2121;">*</span>任务通知</label>
                            <div class="col-lg-8">
                                <!--required-->
                                <select class="form-control" ng-model="jobItem.atAll"
                                        ng-options="at.code as at.name for at in atAll">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">说明</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" cols="3" placeholder="简短描述"
                                      ng-model="jobItem.content"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div style="text-align:center;">
                            <div style="text-align:center;">

                                <button ng-click="saveJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                    <span class="glyphicon glyphicon-ok"></span>保存
                                </button>
                            </div>

                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="部署配置" ng-show="jobItem.ciType == 0">

                    <div style="font-size:1em;">&nbsp;</div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">部署任务
                            </label>
                            <div class="input-group" style="padding-left: 15px; padding-right: 15px">
                                <input type="text" class="form-control" placeholder="任务名称"
                                       ng-model="jobItem.deployJobName">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"
                                            ng-click="checkJobName(jobItem.deployJobName)"><i
                                            class="glyphicon glyphicon-check pull-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">部署模版</label>
                            <div class="col-lg-8">
                                <ui-select ng-model="nowDeployTemplate.selected" theme="bootstrap"
                                           ng-change="setDeployTemplate()">
                                    <ui-select-match placeholder="搜索模版名称......">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="queryDeployTemplate($select.search)" refresh-dalay="0"
                                                       repeat="item in deployTemplateList | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">模版版本</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="模版版本" readonly required
                                       ng-model="jobItem.deployJobVersion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div style="text-align:center;">
                            <div style="text-align:center;">

                                <button ng-click="saveJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                    <span class="glyphicon glyphicon-ok"></span>保存
                                </button>

                                <button ng-click="resetJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #449d44; color: white;">
                                    <span class="glyphicon glyphicon-repeat"></span>重置
                                </button>
                            </div>

                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="加固配置" ng-show="jobItem.ciAppVO.appType == 3">

                    <div style="font-size:1em;">&nbsp;</div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">加固任务
                            </label>
                            <div class="input-group" style="padding-left: 15px; padding-right: 15px">
                                <input type="text" class="form-control" placeholder="任务名称"
                                       ng-model="jobItem.deployJobName">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"
                                            ng-click="checkJobName(jobItem.deployJobName)"><i
                                            class="glyphicon glyphicon-check pull-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">加固模版</label>
                            <div class="col-lg-8">
                                <ui-select ng-model="nowDeployTemplate.selected" theme="bootstrap"
                                           ng-change="setDeployTemplate()">
                                    <ui-select-match placeholder="搜索模版名称......">{{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="queryDeployTemplate($select.search)" refresh-dalay="0"
                                                       repeat="item in deployTemplateList | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">模版版本</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="模版版本" readonly required
                                       ng-model="jobItem.deployJobVersion">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div style="text-align:center;">
                            <div style="text-align:center;">

                                <button ng-click="saveJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                    <span class="glyphicon glyphicon-ok"></span>保存
                                </button>

                                <button ng-click="resetJob()"
                                        class="btn btn-xs"
                                        style="margin-left: 5px; background-color: #449d44; color: white;">
                                    <span class="glyphicon glyphicon-repeat"></span>重置
                                </button>
                            </div>

                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="参数配置" ng-show="jobItem.id != 0">

                    <div style="font-size:1em;">&nbsp;</div>
                    <!--Clone配置-->
                    <div class="form-group" ng-if="jobItem.paramsYaml == ''">
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label">应用名称</label>
                            <div class="col-lg-8">
                                <ui-select ng-model="nowCiApp.selected" theme="bootstrap"
                                           ng-change="setJob()">
                                    <ui-select-match placeholder="搜索应用名称......">{{$select.selected.appName}}
                                    </ui-select-match>
                                    <ui-select-choices refresh="queryMyAppByType($select.search)" refresh-dalay="0"
                                                       repeat="app in myAppList | filter: $select.search">
                                        <div ng-bind-html="app.appName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>选择任务</label>
                            <div class="col-lg-8">
                                <select class="form-control" ng-model="nowCiJob.selected" ng-change="setParams()"
                                        ng-options="job.jobName for job in ciJobList" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="jobItem.paramsYaml == ''">
                        <div style="text-align:center;">
                         <span class="label"
                               style="margin-left: 5px; background-color: #777; color: white;">输入名称搜索并选中应用，然后选择要复制的任务名，记得点保存！清空配置可重新选择！</span>
                        </div>
                    </div>

                    <div ui-ace="aceOption" ng-model="jobItem.paramsYaml" class="ace_editor"></div>

                    <div class="form-group">
                        <div style="text-align:center;">
                            <!--保存-->
                            <button ng-click="saveParams()"
                                    class="btn btn-xs"
                                    style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                <span class="glyphicon glyphicon-ok"></span>保存
                            </button>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab index="4" heading="用户配置">

                    <div style="font-size:1em;">&nbsp;</div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>用户名</label>
                            <div class="col-lg-8">
                                <ui-select ng-model="nowUser.selected" theme="bootstrap">
                                    <ui-select-match placeholder="搜索用户名称......">
                                        {{$select.selected.username}}<{{$select.selected.displayName}}>
                                    </ui-select-match>
                                    <ui-select-choices refresh="queryUsers($select.search)" refresh-dalay="0"
                                                       repeat="item in userList | filter: $select.search">
                                        <div ng-bind-html="item.username + '<' + item.displayName + '>' | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-2">
                                <button ng-click="addUser()"
                                        class="btn btn-xs"
                                        style="margin-top: 5px; margin-left: 5px; background-color: #2e6da4; color: white;">
                                    <span class="glyphicon glyphicon-plus"></span>添加
                                </button>

                                <!--<span class="glyphicon glyphicon-plus" ng-click="addItem()"></span>-->
                            </div>
                        </div>
                    </form>

                    <div style="margin-top: 5px;">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                            <tr>
                                <td class="col-md-3">用户</td>
                                <td class="col-md-3">姓名</td>
                                <td class="col-md-7">
                                    <b style="color: #286090">Email</b>
                                </td>
                                <td class="col-md-2">操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in todoDetail.newProjectMap.users">
                                <td>{{user.username}}</td>
                                <td>{{user.displayName}}</td>
                                <td>{{user.mail}}</td>
                                <td>
                                    <button ng-click="delUser(user)"
                                            class="btn btn-xs pull-right"
                                            uib-popover-html="'移除用户'" popover-trigger="'mouseenter'"
                                            style="background-color: red; color: white;">
                                        <span class="glyphicon glyphicon-log-out"></span>移除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="form-group">
                        <div style="text-align:center;" ng-show="todoDetail.todoStatus <= 0">
                            <!--保存-->
                            <button ng-click="saveTodo()"
                                    class="btn btn-xs"
                                    style="margin-left: 5px; background-color: #2e6da4; color: white;">
                                <span class="glyphicon glyphicon-ok"></span>保存
                            </button>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

    </form>

    <div>
        <div ng-include="'tpl/modal/public/pub_alert.html'"></div>
    </div>

</div>