<div class="modal-header">
    <h3 class="modal-title">日志详情</h3>
</div>
<div class="modal-body">
    <div style="margin-top: 5px;">

        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <td>日志列表</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in pageData">
                <td>
                    <div>
                        <span class="{{logKeyCol}}"
                              style="background-color: #c9302c ;color: white;">{{item.gmtLogtime}}</span>
                        <br>
                    </div>
                    <div ng-show="false">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">host</span>
                        <b style="margin-left: 5px;">{{item.host}}</b>
                        <br>
                    </div>
                    <div ng-show="item.hostname != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">hostname</span>
                        <b style="margin-left: 5px;">{{item.hostname}}</b><br>
                    </div>
                    <div ng-show="item.request_uri != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">request_uri</span>
                        <b style="margin-left: 5px;">{{item.request_uri}}</b><br>
                    </div>
                    <div ng-show="item.bytes_sent != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">bytes_sent</span>
                        <b style="margin-left: 5px;">{{item.bytes_sent}}</b>
                    </div>
                    <div ng-show="item.http_MAC != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_MAC</span>
                        <b style="margin-left: 5px;">{{item.http_MAC}}</b>
                    </div>

                    <div ng-show="item.http_channel != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_channel</span>
                        <b style="margin-left: 5px;">{{item.http_channel}}</b>
                    </div>

                    <div ng-show="item.http_imei != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_imei</span>
                        <b style="margin-left: 5px;">{{item.http_imei}}</b>
                    </div>

                    <div ng-show="item.http_imsi != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_imsi</span>
                        <b style="margin-left: 5px;">{{item.http_imsi}}</b>
                    </div>


                    <div ng-show="item.http_latitude != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_latitude</span>
                        <b style="margin-left: 5px;">{{item.http_latitude}}</b>
                    </div>

                    <div ng-show="item.http_longitude != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_longitude</span>
                        <b style="margin-left: 5px;">{{item.http_longitude}}</b>
                    </div>

                    <div ng-show="item.http_os != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_os</span>
                        <b style="margin-left: 5px;">{{item.http_os}}</b>
                    </div>
                    <div ng-show="item.http_phoneBrand != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_phoneBrand</span>
                        <b style="margin-left: 5px;">{{item.http_phoneBrand}}</b>
                    </div>

                    <div ng-show="item.http_platform != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_platform</span>
                        <b style="margin-left: 5px;">{{item.http_platform}}</b>
                    </div>
                    <div ng-show="item.http_realImei != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_realImei</span>
                        <b style="margin-left: 5px;">{{item.http_realImei}}</b>
                    </div>
                    <div ng-show="item.http_referer != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_referer</span>
                        <br>
                        <div hljs hljs-source="item.http_referer"></div>
                    </div>

                    <div ng-show="item.http_remark != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_remark</span>
                        <b style="margin-left: 5px;">{{item.http_remark}}</b>
                    </div>
                    <div ng-show="item.http_requestId != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_requestId</span>
                        <b style="margin-left: 5px;">{{item.http_requestId}}</b>
                    </div>
                    <div ng-show="item.http_session_id != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_session_id</span>
                        <b style="margin-left: 5px;">{{item.http_session_id}}</b>
                    </div>
                    <div ng-show="item.http_timestamp!= '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_timestamp</span>
                        <b style="margin-left: 5px;">{{item.http_timestamp}}</b>
                    </div>
                    <div ng-show="item.http_user_agent != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_user_agent</span>
                        <br>
                        <div hljs hljs-source="item.http_user_agent"></div>
                    </div>
                    <div ng-show="item.http_version != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_version</span>
                        <b style="margin-left: 5px;">{{item.http_version}}</b>
                    </div>
                    <div ng-show="item.http_x_forwarded_for != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">http_x_forwarded_for</span>
                        <b style="margin-left: 5px;">{{item.http_x_forwarded_for}}</b>
                    </div>
                    <div ng-show="item.http_x_real_ip != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">http_x_real_ip</span>
                        <b style="margin-left: 5px;">{{item.http_x_real_ip}}</b>
                    </div>
                    <div ng-show="item.receive_time != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">receive_time</span>
                        <b style="margin-left: 5px;">{{item.receive_time}}</b>
                    </div>
                    <div ng-show="item.request_length != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">request_length</span>
                        <b style="margin-left: 5px;">{{item.request_length}}</b>
                    </div>
                    <div ng-show="item.request_method != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">request_method</span>
                        <b style="margin-left: 5px;">{{item.request_method}}</b>
                    </div>
                    <div ng-show="item.request_time != '-'">
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">request_time</span>
                        <b style="margin-left: 5px;">{{item.request_time}}</b>
                    </div>


                    <div ng-show="item.server_protocol != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">server_protocol</span>
                        <b style="margin-left: 5px;">{{item.server_protocol}}</b>
                    </div>
                    <div>
                        <span class="{{logKeyCol}}" style="background-color: #286090 ;color: white;">status</span>
                        <span class="label" style="margin-left: 5px;background-color: green ;color: white;"
                              ng-show="item.status == '200'">{{item.status}}</span>
                        <span class="label" style="margin-left: 5px;background-color: red ;color: white;"
                              ng-show="item.status != '200'">{{item.status}}</span>

                    </div>
                    <div ng-show="item.upstream_response_time != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">upstream_addr</span>
                        <b style="margin-left: 5px;">{{item.upstream_addr}}</b>
                        <span class="label" style="background-color: #ff8700 ;color: white;">{{item.serverDO.serverName}}-{{item.serverDO.serialNumber}}</span>
                    </div>
                    <div ng-show="item.request_time != '-'">
                        <span class="{{logKeyCol}}"
                              style="background-color: #286090 ;color: white;">upstream_response_time</span>
                        <b style="margin-left: 5px;">{{item.upstream_response_time}}</b>
                    </div>

                </td>
            </tr>
            </tbody>
            <!--<tfoot>-->
            <!--<tr>-->
            <!--<td colspan="7">-->
            <!--<ul style="margin: 0px; float: right;" uib-pagination total-items="totalItems"-->
            <!--ng-model="currentPage" items-per-page="pageLength" max-size="10"-->
            <!--ng-change="pageChanged(currentPage)" previous-text="&lsaquo;" next-text="&rsaquo;"></ul>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
        </table>
    </div>
</div>