<div class="modal-header">
    <h3 class="modal-title">LogService组配置</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">

        <div class="form-group">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>Project</label>
                <div class="col-lg-8">
                    <select class="form-control" ng-model="nowProject.selected" ng-change="queryLogstore()"
                            ng-options="project for project in projectList" required>
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>Logstore</label>
                <div class="col-lg-8">
                    <select class="form-control" ng-model="nowLogstore.selected" ng-change="queryConfig()"
                            ng-options="logstore for logstore in logstoreList" required>
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>Config</label>
                <div class="col-lg-8">
                    <select class="form-control" ng-model="nowConfig.selected"
                            ng-options="config for config in configList" required>
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="form-group" ng-show="logServiceGroupCfgItem.id != 0">
            <div ng-include="'tpl/modal/public/pub_select_servergroup.html'"></div>
        </div>

        <div class="form-group" style="margin-left: 10px;margin-right: 10px" ng-show="logServiceGroupCfgItem.id != 0">
            <div ng-include="'tpl/modal/public/pub_servergroup_table.html'"></div>
        </div>
    </form>


    <div class="form-group">
        <div style="text-align:center;">
            <button class="btn btn-xs"
                    style="margin-right: 25px; background-color: green; color: white;"
                    ng-click="saveLogServiceGroup()">
                <span class="glyphicon glyphicon-plus"></span>保存
            </button>
        </div>
    </div>

    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>