<div class="modal-header">
    <h3 class="modal-title"><b style="color:#2e6da4">修改RAM用户标签</b></h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-lg-4 control-label">RAM用户名</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="登录用户名" ng-model="ramUser.ramUserName" readonly>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-lg-4 control-label">显示名</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="显示名名" ng-model="ramUser.ramDisplayName" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>用户标签</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="用户标签" ng-model="ramUser.userTag">
                </div>
            </div>

        </div>

        <div class="form-group">
            <div style="text-align:center;">
                <button class="btn btn-xs"
                        style="margin-left: 5px; background-color: #2e6da4; color: white;"
                        ng-click="saveRamUser()"><span
                        class="glyphicon glyphicon-ok"></span>保存
                </button>
            </div>
        </div>
    </form>
    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>