<!--<div class="form-group artifactDetails" ng-show="nowArtifact.selected != null">-->
    <!--<div ng-include="'tpl/modal/ci/include/artifact_details.html'"></div>-->
<!--</div>-->


<div class="col-md-12">
    <label class="col-md-2 control-label">构件详情</label>
    <div class="col-md-10" style="box-shadow: 0 0 5px #ddd;padding: 10px">
        <div>
            <span style="background-color: #777; color: white;" class="col-md-2 label">Parameters</span>
            <div class="col-md-12" style="margin-top:5px;"
                 ng-repeat="param in nowArtifact.selected.jobParams.params">
                <li>
                    <b style="color: #777" uib-popover-html="'参数名称'"
                       popover-trigger="'mouseenter'">{{param.name}}</b>
                    <b style="margin-left:5px; color: #20a03f;">{{param.value}}</b>
                </li>
            </div>
        </div>

        <div>
                                    <span style="background-color: #777; color: white;"
                                          class="col-md-2 label">Changes</span>
            <div class="col-md-12" style="margin-top:5px;"
                 ng-repeat="commit in nowArtifact.selected.commitList">
                <li>
                    <b uib-popover-html="commit.commit" class="commit"
                       popover-trigger="'mouseenter'">{{commit.message}}</b>
                </li>
            </div>
        </div>

        <div>
            <span style="background-color: #777; color: white;" class="col-md-2 label">Build Artifacts</span>
            <div class="col-md-12" style="margin-top:5px;"
                 ng-repeat="artifact in nowArtifact.selected.artifactList">
                <li>
                                                    <span style="color: #777;"
                                                          ng-show="artifact.ossPath != ''"
                                                          uib-popover-html="'OSS://opscloud'"
                                                          popover-trigger="'mouseenter'"
                                                          class="fa fa-codepen">OSS</span>
                    <span ng-show="artifact.badge != ''" uib-popover-html="'制品'"
                          popover-trigger="'mouseenter'"><img
                            src="{{artifact.badge}}"></span>
                    <span style="color: #2b669a;"
                          ng-show="artifact.ossPath == ''"
                          uib-popover-html="'制品'"
                          popover-trigger="'mouseenter'">
                                                   <i class="fa fa-dropbox"></i>{{artifact.artifactName}}</span>
                </li>
            </div>
        </div>
    </div>
</div>