<span ng-show="item.badgeIcon != ''"><img src="{{item.badgeIcon}}"></span>
<span class="pull pull-right"
      style="margin-left:5px;">{{(item.gmtModify == null || item.gmtModify == '') ? item.gmtCreate : item.gmtModify}}
</span>
<b class="pull pull-right" style="color: #286090">{{item.displayName}}</b>
<div style="margin-top:5px;width: 100%; height: 1px; border: 0.5px solid #eee;"></div>

<div style="margin-top:5px;"></div>

<div>
    <span style="background-color: #777; color: white;" class="col-md-2 label">Parameters</span>
    <div class="col-md-12" style="margin-top:5px;"
         ng-repeat="param in item.jobParams.params">
        <li>
            <b style="color: #777" uib-popover-html="'参数名称'"
               popover-trigger="'mouseenter'">{{param.name}}</b>
            <b style="margin-left:5px; color: #20a03f;">{{param.value}}</b>
        </li>
    </div>
</div>


<div>
    <span style="background-color: #777; color: white;" class="col-md-2 label">Changes</span>
    <div class="col-md-12" style="margin-top:5px;"
         ng-repeat="commit in item.commitList">
        <li>
            <b uib-popover-html="commit.commit" class="commit"
               popover-trigger="'mouseenter'">{{commit.message}}</b>
        </li>
    </div>
</div>

<div>
    <span style="background-color: #777; color: white;" class="col-md-2 label">Phases</span>
    <i style="color: #777;" class="fa fa-bell pull-right"
       uib-popover-html="'通知'" popover-trigger="'mouseenter'"
       ng-show="item.dingtalk == true"></i>
    <div class="col-md-12" style="margin-top:5px;">
        <li ng-show="item.timeQueue != 0">
            <b>队列时间消耗:{{item.timeQueue}}/s</b>
        </li>
        <li>
            <b>构建时间消耗:{{item.timeBuild}}/s</b>
        </li>
    </div>

</div>

<div>
    <span style="background-color: #777; color: white;" class="col-md-2 label">Jiagu Artifacts</span>
    <div class="col-md-12" style="margin-top:5px;"
         ng-repeat="artifact in item.artifactList">
        <li>
            <span style="color: #777;"
                  ng-show="artifact.ossPath != ''"
                  uib-popover-html="'OSS://opscloud'"
                  popover-trigger="'mouseenter'"
                  class="fa fa-codepen">OSS</span>
            <span ng-show="artifact.badge != ''" uib-popover-html="'制品'"
                  popover-trigger="'mouseenter'"><img
                    src="{{artifact.badge}}"></span>
            <span style="color: #2b669a;"
                  ng-show="artifact.ossPath == ''"
                  uib-popover-html="'制品'"
                  popover-trigger="'mouseenter'"><i class="fa fa-dropbox"></i>{{artifact.artifactName}}</span>
        </li>
    </div>
</div>

<div ng-if="item.serverList.length != 0">
    <span style="background-color: #777; color: white;" class="col-md-2 label">Servers</span>
    <div class="col-md-12" style="margin-top:5px;"
         ng-repeat="server in item.serverList">
        <li>
            <span style="color: #777;"
                  uib-popover-html="'服务器'"
                  popover-trigger="'mouseenter'"
                  class="fa fa-codepen">{{server.serverName}}-{{server.serialNumber}}&nbsp;{{server.insideIp}}</span>
            <span style="color: #777;"
                  uib-popover-html="'构件版本'"
                  popover-trigger="'mouseenter'">{{server.versionName}}</span>
        </li>
    </div>
</div>

