<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOG_PATH" source="logging.path"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%p] [%.30t] [%c{1}][%L] %m%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="BINLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/binlog.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/binlog.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="binlog" additivity="true" level="info">
        <appender-ref ref="BINLOG"/>
    </logger>

    <logger name="com.baiyi.opscloud" additivity="false" level="info">
        <appender-ref ref="info"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="info"/>
        <appender-ref ref="console"/>
    </root>
</configuration>