<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.jumpserver.OpsAdhocHostsMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.jumpserver.OpsAdhocHosts">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="adhoc_id" jdbcType="CHAR" property="adhocId" />
    <result column="asset_id" jdbcType="CHAR" property="assetId" />
  </resultMap>
</mapper>