<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.opscloud.mapper.jumpserver.PermsAssetpermissionUserGroupsMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.opscloud.domain.generator.jumpserver.PermsAssetpermissionUserGroups">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="assetpermission_id" jdbcType="CHAR" property="assetpermissionId" />
    <result column="usergroup_id" jdbcType="CHAR" property="usergroupId" />
  </resultMap>
</mapper>