<div class="modal-header">
    <h3 class="modal-title">网关配置</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">




        <div class="form-group">
             <span class="label" style="margin-left: 15px; background-color: #777; color: white;">App</span>
            <!--<label class="col-lg-2">App</label>-->
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <div hljs hljs-source="appSetItem.appSet"></div>
            </div>
        </div>

        <div class="form-group">
            <span class="label" style="margin-left: 15px; background-color: #777; color: white;">AppServer</span>
            <!--<label class="col-lg-2 control-label">AppServer</label>-->
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <div hljs hljs-source="appSetItem.appServerSet"></div>
            </div>
        </div>

        <div class="form-group" style="text-align:center;">

            <button ng-click="closeModal()"
                    class="btn btn-xs"
                    style="margin-left: 20px; background-color: #d78700; color: white;">
                <span class="glyphicon glyphicon-remove"></span>关闭
            </button>


        </div>
    </form>
    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>