<div class="modal-header">
    <h3 class="modal-title">SCM项目配置{{cigroupItem.groupName}}</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">


        <div class="form-group">
            <div class="col-md-12">
                <label class="col-lg-2 control-label">SCM项目名称</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="SCM项目名称"
                           ng-model="scmgroupItem.scmProject" ng-disabled="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>持续集成组名称</label>
                <div class="col-lg-8">
                    <ui-select ng-model="nowCiUserGroup.selected" theme="bootstrap">
                        <ui-select-match placeholder="搜索服务器组名称......">{{$select.selected.groupName}}</ui-select-match>
                        <ui-select-choices refresh="queryCiUserGroup($select.search)" refresh-dalay="0"
                                           repeat="item in ciUserGroupList | filter: $select.search">
                            <div ng-bind-html="item.groupName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <label class="col-lg-2 control-label">Desc</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" placeholder="SCM项目Desc"
                           ng-model="scmgroupItem.scmDescription" ng-disabled="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center;">
                <button ng-click="saveScmgroupItem()"
                        class="btn btn-xs"
                        style="margin-left: 5px; background-color: #2e6da4; color: white;">
                    <span class="glyphicon glyphicon-ok"></span>保存
                </button>

                <!--<span class="glyphicon glyphicon-save" ng-click="saveCigroupItem()"></span>-->
            </div>
        </div>
    </form>
    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>