<div class="modal-header">
    <h3 class="modal-title">用户</h3>
</div>
<div class="modal-body">
    <form class="bs-example form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>用户名</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="用户名" ng-model="userItem.username">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>显示名称(姓名)</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="显示名称(姓名)" ng-model="userItem.displayName">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>邮箱</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="邮箱" ng-model="userItem.mail">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-lg-4 control-label">手机</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="手机" ng-model="userItem.mobile">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>密码</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="密码" ng-model="userItem.pwd">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align:center;">
                <button type="button" class="btn btn-sm btn-info" ng-click="saveUser()"><span
                        class="glyphicon glyphicon-floppy-save"></span>保存
                </button>
            </div>
        </div>
    </form>
    <div ng-if="alert.type != ''">
        <div uib-alert ng-class="'alert-' + alert.type" close="closeAlert()">{{alert.msg}}</div>
    </div>
</div>