<div class="modal-header">
    <div ng-include="'tpl/modal/workflow/include/header_info.html'"></div>
</div>

<div class="modal-body">
    <form class="form-horizontal" ng-show="workflowTodo.todoStatus == 0 && workflowTodo.todoPhase == 0"
          style="box-shadow: 0 0 5px #ddd;padding: 10px;">
        <div ng-include="'tpl/modal/workflow/include/help_info.html'"></div>
    </form>
    <form class="form-horizontal" style="padding: 10px;">
        <div class="form-group">
            <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>应用名称</label>
            <div class="col-lg-5">
                <ui-select ng-model="nowCiApp.selected" theme="bootstrap" ng-change="setCmoUserList()" ng-disabled="type != 0">
                    <ui-select-match placeholder="按名称搜索项目......">{{$select.selected.appName}}</ui-select-match>
                    <ui-select-choices refresh="queryCIApp($select.search)" refresh-dalay="0"
                                       repeat="item in ciAppList | filter: $select.search">
                        <div ng-bind-html="item.appName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">说明</label>
            <div class="col-lg-10">
                            <textarea class="form-control" cols="3" placeholder="简短描述" readonly
                                      ng-model="nowCiApp.selected.content"></textarea>
            </div>
        </div>


        <div class="form-group build-params">
            <label class="col-lg-2 control-label">仓库地址</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="仓库地址" readonly
                       ng-model="nowCiApp.selected.sshUrl">
            </div>
        </div>

        <div class="form-group build-params">
            <label class="col-lg-2 control-label">首页</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="仓库地址" readonly
                       ng-model="nowCiApp.selected.webUrl">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">申请说明</label>
            <div class="col-lg-10">
                <textarea class="form-control" cols="3" placeholder="简短描述（小于100字）"
                          ng-model="workflowTodo.content"></textarea>
            </div>
        </div>

    </form>

    <div style="width: 100%; height: 1px; border: 0.5px solid #eee;"></div>

    <form class="form-horizontal" style="margin-top: 25px;">
        <div ng-include="'tpl/modal/workflow/include/approval_info.html'"></div>
    </form>
</div>

<div class="modal-footer">
    <div ng-include="'tpl/modal/workflow/include/footer_info.html'"></div>
</div>
