<div class="modal-header">
    <div ng-include="'tpl/modal/workflow/include/header_info.html'"></div>
</div>

<div class="modal-body">
    <form class="form-horizontal" ng-show="workflowTodo.todoStatus == 0 && workflowTodo.todoPhase == 0"
          style="box-shadow: 0 0 5px #ddd;padding: 10px;">
        <div ng-include="'tpl/modal/workflow/include/help_info.html'"></div>
    </form>
    <form class="form-horizontal" style="padding: 10px;">
        <div class="form-group">
            <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>项目名称</label>
            <div class="col-lg-5">
                <ui-select ng-model="nowGitlabProject.selected" theme="bootstrap" ng-change="setCmoUserList()" ng-disabled="type != 0">
                    <ui-select-match placeholder="按名称搜索项目......">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices refresh="queryGitlabProject($select.search)" refresh-dalay="0"
                                       repeat="item in gitlabProjectList | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label"><span style="color: #ec2121;">*</span>申请角色</label>
            <div class="col-lg-5">
                <select class="form-control" ng-model="nowAccessLevel.selected" ng-disabled="type != 0"
                        ng-options="al.name for al in accessLevelType" required>
                    <option value="">--请选择--</option>
                </select>
            </div>

        </div>

        <div class="form-group" style="box-shadow: 0 0 5px #ddd;padding: 10px;" ng-show="type == 0">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <td>条目</td>
                    <td>值</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b style="color: #286090">项目名称</b></td>
                    <td><b style="color: #777">{{nowGitlabProject.selected.name}}</b></td>
                </tr>
                <tr>
                    <td><b style="color: #286090">命名空间</b></td>
                    <td><b style="color: #777">{{nowGitlabProject.selected.nameWithNamespace}}</b></td>
                </tr>
                <tr>
                    <td><b style="color: #286090">项目地址</b></td>
                    <td><a style="color: green" href={{nowGitlabProject.selected.webUrl}} target="_blank">{{nowGitlabProject.selected.webUrl}}</a></td>
                </tr>
                <tr>
                    <td><b style="color: #286090">Git地址</b></td>
                    <td><b style="color: #777">{{nowGitlabProject.selected.sshUrl}}</b></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">申请说明</label>
            <div class="col-lg-10">
                <textarea class="form-control" cols="3" placeholder="简短描述（小于100字）"
                          ng-model="workflowTodo.content"></textarea>
            </div>
        </div>
    </form>

    <div style="width: 100%; height: 1px; border: 0.5px solid #eee;"></div>

    <form class="form-horizontal" style="margin-top: 25px;">
        <div ng-include="'tpl/modal/workflow/include/approval_info.html'"></div>
    </form>
</div>

<div class="modal-footer">
    <div ng-include="'tpl/modal/workflow/include/footer_info.html'"></div>
</div>
