<!--审批/审核-->
<div class="form-group" ng-show="workflowTodo.workflowDO.tlApproval">
    <div class="col-md-6">
        <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>TeamLeader</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" placeholder="团队经理"
                   ng-model="workflowTodo.todoUserList.teamleader.displayName" readonly>
        </div>
    </div>

    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.teamleader == null || workflowTodo.todoUserList.teamleader.evaluation == 0">
        <span class="label" style="background-color:  #ff8700; color: white;">此工作流要求TL审批</span>
    </div>
    <!--approve-->
    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.teamleader != null && workflowTodo.todoUserList.teamleader.evaluation == 1">
        <span class="label" style="background-color:  #20a03f; color: white;">审批通过</span>
    </div>
    <!--disapprove-->
    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.teamleader != null && workflowTodo.todoUserList.teamleader.evaluation == 2">
        <span class="label" style="background-color:  #ef2929; color: white;">审批未通过</span>
    </div>

</div>


<div class="form-group" ng-show="workflowTodo.workflowDO.dlApproval">
    <div class="col-md-6">
        <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>DeptLeader</label>
        <div class="col-lg-8">
            <select class="form-control" ng-model="nowDeptLeader.selected" ng-disabled="workflowTodo.todoPhase != 0"
                    ng-options="user as user.username + '<' + user.displayName + '>' for user in workflowTodo.dlUserList">
                <option value="">--请选择--</option>
            </select>
        </div>
    </div>

    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.deptLeader == null || workflowTodo.todoUserList.deptLeader.evaluation == 0">
        <span class="label" style="background-color:  #ff8700; color: white;">此工作流要求DL审批</span>
    </div>
    <!--approve-->
    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.deptLeader != null && workflowTodo.todoUserList.deptLeader.evaluation == 1">
        <span class="label" style="background-color:  #20a03f; color: white;">审批通过</span>
    </div>
    <!--disapprove-->
    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.deptLeader != null && workflowTodo.todoUserList.deptLeader.evaluation == 2">
        <span class="label" style="background-color:  #ef2929; color: white;">审批未通过</span>
    </div>

</div>


<div class="form-group" ng-show="workflowTodo.workflowDO.opsAudit">
    <div class="col-md-6">
        <label class="col-lg-4 control-label"><span style="color: #ec2121;">*</span>Ops</label>
        <div class="col-lg-8">
            <select class="form-control" ng-model="nowOps.selected" ng-disabled="workflowTodo.todoPhase != 0"
                    ng-options="user as user.username + '<' + user.displayName + '>' for user in workflowTodo.opsUserList">
                <option value="">--请选择--</option>
            </select>
        </div>
    </div>

    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.ops == null || workflowTodo.todoUserList.ops.evaluation == 0">
        <span class="label" style="background-color:  #ff8700; color: white;">此工作流要求OPS审核</span>
    </div>
    <!--approve-->
    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.ops != null && workflowTodo.todoUserList.ops.evaluation == 1">
        <span class="label" style="background-color:  #20a03f; color: white;">审批通过</span>
    </div>
    <!--disapprove-->
    <div class="col-md-6" style="margin-top: 5px;" ng-show="workflowTodo.todoUserList.ops != null && workflowTodo.todoUserList.ops.evaluation == 2">
        <span class="label" style="background-color:  #ef2929; color: white;">审批未通过</span>
    </div>


</div>